@()(implicit contextSite: models.ContextSite)
@habitTypes = @{ logics.HabitTypes.values }
@_base("Habit", "Habit Home", canonicalUrl = s"https://${contextSite.requestWrapper.host}/h") {
} {
    <div class="wikiContent">
        <div class="limitWidth">
            <h1>Habit</h1>
            <p>새로운 habit 페이지는 <code>/h/{habitType}</code> 로 접근할 수 있습니다.</p>
            <ul>
                @for(habitType <- habitTypes) {
                    <li><a href="/h/@habitType">/h/@habitType</a></li>
                }
            </ul>
        </div>
    </div>
}
