@(q:String, seq:Seq[models.tables.SearchResultSummary], moreThanShown:Boolean)(implicit wikiContext:ContextWikiPage)
@_base("Search " + q, "") {
    <script type="text/javascript">
        $(function () {
            $('.wikiContent').mark(@Html(logics.HtmlJson.string(q)));
        });
    </script>
} {
    <div class="wikiContent searchResult">
        <div class="limitWidth">
            @views.html.Wiki.action(isWritable = false, null, null)
            <h1>search <a href="@routes.Wiki.view(q.replaceAll("""\s""", ""))">@q</a></h1>
            @(seq.size) results.
            @if(moreThanShown) {
                More than @(models.tables.SearchResult.MaxPages) pages match; only the most recently changed @(models.tables.SearchResult.MaxPages) are listed. A longer query narrows it.
            }
            @for(searchResultSummary <- seq) {
                <div class="item">
                    <h2 class="pageName"><a href="/w/@(logics.wikis.PageNameUrl.encode(searchResultSummary.name))" >@(searchResultSummary.name)</a></h2>
                    last modified at @(searchResultSummary.dateTime)
                    <table class="wikiTableSimple tableSearchResult">
                        <tbody>
                            @for(seq2 <- searchResultSummary.summary) {
                                <tr>
                                    <td colspan="2" class="empty"></td>
                                </tr>
                                @for((i, line) <- seq2) {
                                    <tr>
                                        <td class="lineNumber">@i</td>
                                        <td class="lineContent">@line</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    @if(searchResultSummary.hitLinesNotShown > 0) {
                        <a href="/w/@(logics.wikis.PageNameUrl.encode(searchResultSummary.name))">@(searchResultSummary.hitLinesNotShown) more matching lines</a>
                    }
                </div>
            }
        </div>
    </div>
}
