@(q:String, iterator:Iterator[models.Database.SearchResult])(implicit wikiContext:WikiContext, request: play.api.mvc.Request[Any])
@_base("Search " + q, "") {
    @views.html.Wiki.hotkey()
    <script type="text/javascript">
        $(function () {
            $('.wikiContent').mark('@q');
        });
    </script>
} {
    <div class="wikiContent searchResult">
        <div class="limitWidth">
            <h1>search <a href="@routes.Wiki.view(q.replaceAll("""\s""", ""))">@q</a></h1>
            @for(searchResult <- iterator) {
                <div class="item">
                    <h2 class="pageName"><a href="/w/@(searchResult.name)" >@(searchResult.name)</a></h2>
                    <p class="pageContent">@(searchResult.content)</p>
                </div>
            }
        </div>
    </div>
    @views.html.Wiki.action(isWritable = false, null, null)
}
