@import logics.AhaWikiInjects
@(title: String, description: String)(head: Html)(body: Html)(implicit request:Request[Any], ahaWikiInjects: AhaWikiInjects)
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>@title - @request.host</title>

        <meta itemprop="name" content="@(title)">
        <meta property="og:title" content="@(title)" />
        <meta name="twitter:title" content="@(title)">

        <meta name="description" content="@(description)" />
        <meta itemprop="description" content="@(description)">
        <meta property="og:description" content="@(description)" />
        <meta name="twitter:description" content="@(description)">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("favicon.png")">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
        <link rel="stylesheet" href="@routes.Assets.versioned("less.css")">

        <script type="text/javascript" src="https://polyfill.io/v3/polyfill.js?version=3.52.1&features=blissfuljs%2Cdefault%2Ces2015%2Ces2016%2Ces2017%2Ces2019%2Ces2018%2Ces5%2Ces6%2Ces7"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.1/umd/react.production.min.js" integrity="sha512-SUJujhtUWZUlwsABaZNnTFRlvCu7XGBZBL1VF33qRvvgNk3pBS9E353kcag4JAv05/nsB9sanSXFbdHAUW9+lg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.1/umd/react-dom.production.min.js" integrity="sha512-SYsXmAblZhruCNUVmTp5/v2a1Fnoia06iJh3+L9B9wUaqpRVjcNBQsqAglQG9b5+IaVCfLDH5+vW923JL5epZA==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js" integrity="sha512-kp7YHLxuJDJcOzStgd6vtpxr4ZU9kjn77e6dBsivSz+pUuAuMlE2UTdKB7jjsWT84qbS8kdCWHPETnP/ctrFsA==" crossorigin="anonymous"></script>

        @head
    </head>
    <body>
        @body

        @*
        @_googleAnalytics()(ahaWikiInjects.syncCacheApi, ahaWikiInjects.database)
        *@
    </body>
</html>
