@(title: String, description: String)(head: Html)(body: Html)
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>@title - request.host</title>

        <meta itemprop="name" content="@(title)">
        <meta property="og:title" content="@(title)" />
        <meta name="twitter:title" content="@(title)">

        <meta name="description" content="@(description)" />
        <meta itemprop="description" content="@(description)">
        <meta property="og:description" content="@(description)" />
        <meta name="twitter:description" content="@(description)">

        <link rel="shortcut icon" type="image/png" href="/public/favicon.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/public/less.css">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@mantine/core@@8.3.6/styles.css">
        <script src="https://cdn.jsdelivr.net/npm/@@babel/standalone@@7.28.4/babel.min.js"></script>

        @head
    </head>
    <body>
        <div class="admin-menu" style="background: #f4f4f4; padding: 10px; border-bottom: 1px solid #ccc;">
            <a href="/">Home</a> |
            <a href="/admin/sites">All Sites</a> |
            <a href="/admin/site-users">Site Users</a>
        </div>
        @body

        @*
        @_googleAnalytics()
        *@
    </body>
</html>
