@(title: String, description: String)(head: Html)(body: Html)
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>@title - request.host</title>

        <meta itemprop="name" content="@(title)">
        <meta property="og:title" content="@(title)" />
        <meta name="twitter:title" content="@(title)">

        <meta name="description" content="@(description)" />
        <meta itemprop="description" content="@(description)">
        <meta property="og:description" content="@(description)" />
        <meta name="twitter:description" content="@(description)">

        <link rel="shortcut icon" type="image/png" href="/public/favicon.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/public/less.css">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@mantine/core@@8.3.6/styles.css">
        <script type="importmap">
            {
                "imports": {
                    "react": "https://esm.sh/react@@18.3.1",
                    "react/jsx-runtime": "https://esm.sh/react@@18.3.1/jsx-runtime",
                    "react/jsx-dev-runtime": "https://esm.sh/react@@18.3.1/jsx-dev-runtime",
                    "react-dom/client": "https://esm.sh/react-dom@@18.3.1/client",
                    "@@mantine/core": "https://esm.sh/@@mantine/core@@8.3.6?deps=react@@18.3.1,react-dom@@18.3.1",
                    "@@mantine/hooks": "https://esm.sh/@@mantine/hooks@@8.3.6?deps=react@@18.3.1"
                }
            }
        </script>

        @head
    </head>
    <body>
        @body

        @*
        @_googleAnalytics()
        *@
    </body>
</html>
