@(seqUserSite: Seq[models.tables.UserSite])(implicit contextSite: models.ContextSite)
@views.html.Admin._baseAdmin("Site Users", "Manage users for this site") {
    <script type="module" src="/public/js/babel/admin.js"></script>
} {
    <div id="main" data-admin-page="users" style="padding: 20px;">
        <h1>Site Users for @contextSite.site.name (Fallback)</h1>
        <table class="simpleTable">
            <thead>
                <tr>
                    <th>User Seq</th>
                    <th>Email</th>
                    <th>Nickname</th>
                    <th>Joined</th>
                </tr>
            </thead>
            <tbody>
                @for(us <- seqUserSite) {
                    <tr>
                        <td>@us.user</td>
                        <td>@us.email</td>
                        <td>@us.nickname</td>
                        <td>@us.created</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
