<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${application.home:-.}/logs/application.log</file>
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <withJansi>true</withJansi>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %-20logger{20} %80(%class.%method\(%file:%line\))  %message%n%xException{10}</pattern>
    </encoder>
  </appender>

  <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE" />
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
    <includeCallerData>true</includeCallerData>
  </appender>

  <logger name="play" level="INFO" />
  <logger name="application" level="DEBUG" />
  <logger name="actors.ActorAhaWiki" level="INFO" />
  <logger name="com.aha00a.commons.utils.StopWatch" level="INFO" />
  <logger name="com.aha00a.play.utils.GoogleOAuthApi" level="INFO" />
  <logger name="controllers.Search" level="INFO" />
  <logger name="controllers.Test" level="INFO" />
  <logger name="controllers.Wiki" level="INFO" />
  <logger name="filters.FilterAccessLog" level="INFO" />
  <logger name="logics.AhaWikiCache" level="INFO" />
  <logger name="services.ApplicationLifecycleHook" level="INFO" />

  <!-- https://hibernate.atlassian.net/browse/HV-1323 -->
  <logger name="org.hibernate.validator.messageinterpolation.ParameterMessageInterpolator" level="INFO" />

  <logger name="org.jdbcdslog.ConnectionLogger" level="INFO" />
  <logger name="org.jdbcdslog.StatementLogger"  level="INFO" />
  <logger name="org.jdbcdslog.ResultSetLogger"  level="INFO" />

  <!-- Off these ones as they are annoying, and anyway we manage configuration ourselves -->
  <logger name="com.avaje.ebean.config.PropertyMapLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="OFF" />
  <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />

  <root level="WARN">
    <appender-ref ref="ASYNCFILE" />
    <appender-ref ref="ASYNCSTDOUT" />
  </root>

</configuration>