@(isWritable:Boolean, wikiFirst:models.tables.Page, wikiLast:models.tables.Page)(implicit wikiContext:ContextWikiPage)
@kbdHotKey(key: String) = {<kbd data-hotkey-alt="@key"><kbd>@key</kbd></kbd>}
<div class="gnb">
    <div class="action">
        <ul class="authArea">
            @if(wikiContext.requestWrapper.getId) {
                <li>
                    <i class="fas fa-user-cog"></i> @(wikiContext.requestWrapper.getId)
                </li>
                <li>
                    <a href="@(routes.Auth.logout)"><i class="fas fa-sign-out-alt"></i>Logout</a>
                </li>
            } else {
                <li>
                    <a href="@(routes.Auth.login)" rel="nofollow"><i class="fas fa-sign-in-alt"></i>Login</a>
                </li>
            }
        </ul>
        <ul class="globalAction">
            <li>
                <a href="javascript:showSearch();" rel="nofollow"><i class="fas fa-search"></i>Search@kbdHotKey("S")</a>
            </li>
            <li>
                <a href="/r" rel="nofollow"><i class="fas fa-random"></i>Random@kbdHotKey("R")</a>
            </li>
            @if(false) {
                <li>
                    <a href="@routes.Feed.atom" rel="nofollow"><i class="fas fa-rss"></i>Atom</a>
                </li>
            }
            @if(isWritable) {
                <li>
                    <a href="javascript:showWrite();" rel="nofollow"><i class="fas fa-signature"></i>Write Log@kbdHotKey("W")</a>
                </li>
            }
        </ul>
        <ul class="pageAction">
            @if(wikiFirst != null) {
                <li>
                    <a href="?action=raw" rel="nofollow"><i class="fas fa-file-alt"></i>Raw</a>
                </li>
                <li>
                    <a href="?action=history" rel="nofollow"><i class="fas fa-history"></i>History@kbdHotKey("H")</a>
                </li>
                <li>
                    <a href="?action=blame" rel="nofollow"><i class="fas fa-users"></i>Blame@kbdHotKey("B")</a>
                </li>
            }
            @if(isWritable) {
                <li>
                    <a href="?action=edit" rel="nofollow"><i class="fas fa-edit"></i>Edit@kbdHotKey("E")</a>
                </li>
            }
        </ul>
    </div>
</div>

@if(wikiFirst != null && wikiLast != null) {
    <div class="revisionInfo">
        @if(wikiFirst != null) {
            <div class="first">created by <a href="@(wikiFirst.author)" rel="nofollow">@(wikiFirst.author)</a> at <a href="?action=history" rel="nofollow">@(wikiFirst.toIsoLocalDateString)</a></div>
        }
        @if(wikiLast != null) {
            <div class="last">last modified by <a href="@(wikiLast.author)" rel="nofollow">@(wikiLast.author)</a> at <a href="?action=diff&after=@(wikiLast.revision)" rel="nofollow">@(wikiLast.toIsoLocalDateString)</a></div>
            <div class="revision">revision: <a href="?action=blame" rel="nofollow">@(wikiLast.revision)</a> </div>
        }
    </div>
}

