@(isWritable:Boolean, wikiFirst:models.tables.Page, wikiLast:models.tables.Page, hasReadPermissionRestriction:Boolean = false)(implicit wikiContext:ContextWikiPage)
@isAdmin = @{ wikiContext.requestWrapper.getUser.exists(_.seq == 1) }
@currentAction = @{ wikiContext.requestWrapper.getQueryString("action").getOrElse("") }
@currentRevision = @{
    val queryRevision = wikiContext.requestWrapper.getQueryString("revision").flatMap(r => scala.util.Try(r.toInt).toOption).getOrElse(0)
    if (queryRevision > 0) queryRevision else Option(wikiLast).map(_.revision.toInt).getOrElse(0)
}
@if(wikiFirst != null && wikiLast != null) {
    <div class="revisionInfo">
        @if(wikiFirst != null) {
            <div class="first">created by @wikiFirst.nickname.map { nickname => @Html(logics.wikis.UserPageLogic.toHtmlString(nickname)) }.getOrElse(Html("Anonymous")) at <a href="?action=history" rel="nofollow">@(wikiFirst.toIsoLocalDateString)</a></div>
        }
        @if(wikiLast != null) {
            <div class="last">last modified by @wikiLast.nickname.map { nickname => @Html(logics.wikis.UserPageLogic.toHtmlString(nickname)) }.getOrElse(Html("Anonymous")) at <a href="?action=diff&after=@(wikiLast.revision)" rel="nofollow">@(wikiLast.toIsoLocalDateString)</a></div>
            <div class="revision">revision: <a href="?action=blame" rel="nofollow">@(wikiLast.revision)</a> </div>
        }
        @if(isAdmin && hasReadPermissionRestriction && (currentAction == "" || currentAction == "view") && currentRevision > 0) {
            <div class="signedReadUrlAction">
                <a href="#" id="generateSignedViewUrl" rel="nofollow" data-page-name="@wikiContext.name" data-revision="@currentRevision"><i class="fas fa-link"></i>Generate signed URL (view r@currentRevision)</a>
            </div>
            <script type="text/javascript" src="/public/js/Wiki/action.signedReadUrl.js"></script>
        }
    </div>
}
