@(enableWikiLink:Boolean)(implicit wikiContext: ContextWikiPage)
@for(id <- Seq(com.aha00a.commons.utils.UuidUtil.newString)) {
    <div class="aspectRatioWrapper adjacentPagesGraphWrapper @id">
        @if(wikiContext.renderingMode == logics.wikis.RenderingMode.Preview) {
            <div class="ratio_16_9"></div>
            <div class="aspectRatioContent">
                <div class="adjacentPagesPreviewPlaceholder">
                    <i class="fas fa-project-diagram"></i>
                    <div class="title">Adjacent Pages graph is skipped in preview mode.</div>
                    <div class="description">Open the page to render and interact with the full graph.</div>
                </div>
            </div>
        } else {
            @views.html.Wiki._graphD3CanvasLayout(
                id = id,
                        canvasStyle = "width: 100%; height: 100%; border-radius: 5px; border: 1px solid #ccc; box-sizing: border-box;",
                startActive = false,
                showQueueMetric = true,
                showMoreButton = true,
                showFullscreenButton = true,
                showResetButton = false,
                depthMetricLabel = "Depth coverage",
                depthMetricDefaultValue = "0",
                legendHop1 = "1-hop",
                legendHop2 = "2-hop+"
            )
        }
        <input type="hidden" name="wikiContextName" value="@{wikiContext.name}"/>
    </div>

    @if(wikiContext.renderingMode == logics.wikis.RenderingMode.Normal) {
        @views.html.Wiki.adjacentPagesD3Canvas(id, enableWikiLink)

        <script type="text/javascript">
            $(function () {
                setTimeout(function () {
                    $(document).trigger('adjacent-pages-d3canvas:rerender-@(id)');
                }, 100);
            });
        </script>
    }
}
