@(enableWikiLink:Boolean)(implicit wikiContext: ContextWikiPage)
@for(id <- Seq(com.aha00a.commons.utils.UuidUtil.newString)) {
    <div class="aspectRatioWrapper @id">
        <div class="ratio_16_9"></div>
        <div class="aspectRatioContent">
            <canvas id="graphD3Canvas-@id" class="graph graphD3Canvas @(id)" style="width: 100%; height: 100%;"></canvas>
            <div class="adjacentPagesHud @id">
                <div class="row">
                    <label>Focus depth <input type="range" min="1" max="4" step="1" value="2" class="focusDepthD3Canvas @id"/></label>
                    <span class="focusDepthValueD3Canvas @id">2-hop</span>
                </div>
                <div class="row">
                    <label>Min degree <input type="range" min="0" max="10" step="1" value="0" class="degreeFilterD3Canvas @id"/></label>
                    <span class="degreeFilterValueD3Canvas @id">all</span>
                </div>
                <div class="row legend">
                    <span class="dot root"></span>Root
                    <span class="dot hop1"></span>1-hop
                    <span class="dot hop2"></span>2-hop+
                </div>
                <div class="row compact hudActions">
                    <a href="#" class="playPauseD3Canvas play @(id)"><i class="fas fa-stop"></i> <span class="playPauseLabelD3Canvas @id">Pause</span></a>
                    <a href="#" class="moreD3Canvas @(id)"><i class="fas fa-plus"></i> More</a>
                </div>
                <div class="row footer"><span class="linkCountD3Canvas @id">0</span></div>
            </div>
        </div>
        <input type="hidden" name="wikiContextName" value="@{wikiContext.name}"/>
    </div>

    @views.html.Wiki.adjacentPagesD3Canvas(id, enableWikiLink)

    <script type="text/javascript">
        $(function () {
            setTimeout(function () {
                $(document).trigger('adjacent-pages-d3canvas:rerender-@(id)');
            }, 100);
        });
    </script>
}
