@(blame:models.Blame[PageMetaData, String], minRevision: Long, maxRevision: Long, isWritable:Boolean, wikiFirst:Option[models.Page], wikiLast:Option[models.Page])(implicit wikiContext:WikiContext, request: play.api.mvc.Request[Any])
@_base("Blame " + wikiContext.name, "Blame " + wikiContext.name) {
    @views.html.Wiki.hotkey()
} {
    <div class="wikiContent blame">
        <div class="limitWidth">
            @views.html.Wiki.action(isWritable, wikiFirst.orNull, wikiLast.orNull)
            <h1>Blame of <a href="@wikiContext.name">@wikiContext.name</a></h1>
            <table class="tableBlame">
                <thead>
                    <tr>
                        <th>Rev</th>
                        <th>DateTime</th>
                        <th>Author</th>
                        <th>Content</th>
                        <th>Comment</th>
                    </tr>
                </thead>
                <tbody>
                    @for(blameLine <- blame.seqBlameLine) {
                        <tr style="background-color: @com.aha00a.commons.utils.WarmCoolColors.warm(blameLine.metaData.revision, minRevision, maxRevision);">
                            <td class="lineNumber">
                                <a href="?action=diff&after=@blameLine.metaData.revision">@blameLine.metaData.revision</a>
                            </td>
                            <td class="lineDateTime">@blameLine.metaData.toIsoLocalDateTimeString</td>
                            <td class="lineAuthor">@blameLine.metaData.author</td>
                            <td class="lineContent">@blameLine.item</td>
                            <td class="lineComment">@blameLine.metaData.comment</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
