@(name: String, before:Int, beforeComment:String, after:Int, afterComment:String, unifiedDiff: String)(implicit wikiContext: models.ContextWikiPage)
@_base(name, s"Diff of $name") {
    <link rel="stylesheet" href="/public/diff.css">
    <link rel="stylesheet" href="https://unpkg.com/diff2html@@3.4.52/bundles/css/diff2html.min.css" crossorigin="anonymous" />
    <script src="https://unpkg.com/diff2html@@3.4.52/bundles/js/diff2html-ui.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/public/js/Wiki/diff.js"></script>
} {
    <div class="wikiContent diff">
        <div class="limitWidth">
            <h1>Diff of <a href="@name">@name</a></h1>
            Changes between <a href="?revision=@before" rel="nofollow">revision @before - @beforeComment</a> and <a href="?revision=@after" rel="nofollow">revision @after - @afterComment</a>

            <div>
                <select class="selectOutputFormat" name="outputFormat">
                    <option value="line-by-line" >Line by Line</option>
                    <option value="side-by-side" selected="selected">Side by Side</option>
                </select>
            </div>
            <div class="diff2HtmlResult"></div>
            <pre class="unifiedDiff">@unifiedDiff</pre>
        </div>
    </div>
}
