@import difflib.DiffRow.Tag
@(name: String, before:Int, after:Int, list:java.util.List[difflib.DiffRow])(implicit wikiContext: models.WikiContext, request: play.api.mvc.Request[Any])
@_base(name, s"Diff of $name") {
    @hotkey()
    <script type="text/javascript">
        $(function(){
            $('html, body').animate({
                scrollTop: $(" @(Tag.values().filterNot(_ == Tag.EQUAL).map("." + _).mkString(","))").offset().top - window.innerHeight / 2
            }, 500);
        });
    </script>
} {
    <div class="wikiContent">
        <div class="limitWidth">
            <h1>Diff of <a href="@name">@name</a></h1>
            Changes between <a href="?revision=@before">revision @before</a> and <a href="?revision=@after">revision @after</a>
        </div>
    </div>
    <div class="diff">
        <div class="wikiContent">

        <div class="limitWidth">
            <form>
                <input type="hidden" name="action" value="diff"/>
                <table>
                    <tr>
                        <th width="200px"><a href="?revision=@before">revision @before</a></th>
                        <th width="100px"><a href="?revision=@after">revision @after</a></th>
                    </tr>
                    @for(diffRow <- list) {
                        <tr>
                            <td class="left @(diffRow.getTag) @(if(diffRow.getOldLine.isEmpty) {"empty"} else {})">@(diffRow.getOldLine)</td>
                            <td class="right @(diffRow.getTag) @(if(diffRow.getNewLine.isEmpty) {"empty"} else {})">@(diffRow.getNewLine)</td>
                        </tr>
                    }
                </table>
            </form>
        </div>
    </div>
    </div>
}
