@(title:String, message:String)(implicit wikiContext: models.ContextWikiPage)
@_base(title, message) {
} {
    <div class="wikiContent">
        <div class="limitWidth">
            <h1>@title</h1>
            <div class="errorPage">
                <div class="errorPageIcon">
                    <i class="fas fa-lock"></i>
                </div>
                <p class="errorPageMessage">@message</p>
                @if(!wikiContext.requestWrapper.getUser) {
                    <a href="@(routes.Auth.login)" class="errorPageLoginButton">
                        <i class="fas fa-right-to-bracket"></i>
                        Login
                    </a>
                }
            </div>
        </div>
    </div>
}
