@(title: String, listHistory: List[models.PageWithoutBlobField])(implicit wikiContext: models.WikiContext, request: play.api.mvc.Request[Any])
@_base(title, s"history of $title") {
    @hotkey()
    <script type="text/javascript">
        $(function(){
            $('[name=before]').eq(1).click();
            $('[name=after]').eq(0).click();
            $('.buttonDeleteLastRevision').click(function () {
                if(!confirm('This is an irreversible operation! Do you want to delete last revision?'))
                    return false;
                
                $.ajax({
                    url: '@routes.Wiki.deleteLastRevision()',
                    method: 'post',
                    headers: {
                        'Csrf-Token': '@play.filters.csrf.CSRF.getToken.map(_.value)'
                    },
                    data: {
                        name: '@title'
                    },
                    success: function (data, textStatus, jqXHR) {
                        location.reload();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        debugger;
                    }
                });
                return false;
            });
        });
    </script>
} {
    <div class="wikiContent">
        <div class="limitWidth">
            <h1>History of <a href="@title">@title</a></h1>
        </div>
    </div>
    <div class="wikiHistory">
        <div class="limitWidth">
            <button class="buttonDeleteLastRevision">Delete Last Revision</button>
            <form>
                <input type="hidden" name="action" value="diff"/>
                <table>
                    <tr>
                        <th colspan="2"><input type="submit" value="Diff"/></th>
                        <th width="50px">revision</th>
                        <th width="200px">Date</th>
                        <th width="200px">Author</th>
                        <th width="100px">IP</th>
                        <th>Comment</th>
                    </tr>
                    @for(history <- listHistory) {
                        <tr>
                            <td><input type="radio" name="before" value="@(history.revision)"/></td>
                            <td><input type="radio" name="after" value="@(history.revision)"/></td>
                            <td>
                                <a href="?revision=@(history.revision)">
                                    @(history.revision)
                                </a>
                            </td>
                            <td>@(history.isoLocalDateTime)</td>
                            <td>@(history.author)</td>
                            <td>@(history.remoteAddress)</td>
                            <td>@(history.comment)</td>
                        </tr>
                    }
                </table>
            </form>
        </div>
    </div>
}
