@()(implicit request: play.api.mvc.Request[Any])
@import helper._
@import com.aha00a.commons.Implicits._
<script type="text/javascript">
    function showSearch() {
        $("body").append($('<div class="searchBg"></div><div class="search"><form action="/search"><input type="text" name="q"/></form></div>'));
        $('.searchBg').click(function () {
            hideSearch();
        });
        $('[name=q]').keydown(function (e) {
            if (e.keyCode == 27) {
                hideSearch();
            }
        }).focus();
        $.get(
                '@routes.Api.pageNames()',
                {},
                function (data, textStatus, jqXHR) {
                    $('[name=q]').autocomplete({
                        lookup: data,
                        onSelect: function (suggestion) {
                            hideSearch();
                            go('/w/' + suggestion.value);
                            return false;
                        }
                    }).focus();
                }
        ).error(function (jqXHR, textStatue, httpStatus) {
            alert(jqXHR.responseJSON.message);
        });
        return false;
    }
    function hideSearch() {
        $('.search, .searchBg').remove();
    }

    function showWrite() {
        $("body").append($('<div class="searchBg"></div><div class="search"><form action="@routes.Diary.write()" method="post">@CSRF.formField <input type="text" name="q"/></div>'));
        $('.searchBg').click(function () {
            hideSearch();
        });
        $('[name=q]').keydown(function (e) {
            if (e.keyCode == 27) {
                hideSearch();
            }
        }).focus();
        return false;
    }

    function go(s) {
        location.href = s;
        return true;
    }

    function toggleAction(action) {
        var value = location.params("action");
        if (value && value === action)
            return location.params({action: undefined});

        return location.params({action: action});
    }

    $(function(){
        $(document).bind('keydown', 'f', function () { return go('/'); });

        $(document).bind('keydown', 'a', function () { return go('/w/AhaWiki'); });

        $(document).bind('keydown', 'c', function () { return go('/w/RecentChanges'); });
        $(document).bind('keydown', 't', function () { return go('/w/TitleIndex'); });
        $(document).bind('keydown', 'l', function () { return go('/w/PageList'); });

        $(document).bind('keydown', 'm', function () { return go('/w/PageMap'); });

        $(document).bind('keydown', 'r', function () { return go('/r'); });

        $(document).bind('keydown', 'e', function () { return toggleAction('edit'); });
        $(document).bind('keydown', 'h', function () { return toggleAction('history'); });
        $(document).bind('keydown', 'b', function () { return toggleAction('blame'); });

        $(document).bind('keydown', 's', function () { return showSearch(); });
        $(document).bind('keydown', 'g', function () { return showSearch(); });
        $(document).bind('keydown', '/', function () { return showSearch(); });

        $(document).bind('keydown', 'w', function () { return showWrite(); });
    });
</script>
