@(supported:String = "")
@import implicits.Implicits._
<script type="text/javascript">
    @for(hotkeys <- Seq(Map(
        'f' -> "go('/')",
        'a' -> "go('/w/AhaWiki')",
        's' -> "go('/w/AhaWikiSyntax')",
        'c' -> "go('/w/RecentChanges')",
        't' -> "go('/w/TitleIndex')",
        'l' -> "go('/w/PageList')",
        'm' -> "go('/w/PageMap')",
        'r' -> "go('/r')",
        'e' -> "go('?action=edit')",
        'h' -> "go('?action=history')"
    ))) {
        $(function(){
            function go(s) {
                location.href = s;
            }
            @for(key <- supported.getOrElse(hotkeys.keys.mkString)) {
                $(document).bind('keydown', '@key', function () { @Html(hotkeys(key)) });
            }
        });
    }



</script>
