@import logics.wikis.interpreters.InterpreterMap
@import com.aha00a.commons.Implicits._
@(
        mapsJavaScriptAPIKey:String,
        url:String,
        sheetName:String,
        seqHeader: Seq[String],
        seqLocationLastVisited:Seq[InterpreterMap.LocationListVisited],
        mapAddressMeters: Map[String, Int],
        query: Map[String, String]
)(implicit wikiContext: WikiContext, request: play.api.mvc.Request[Any])
@for(id <- Seq(com.aha00a.commons.utils.UuidUtil.newStringWithoutDash)) {
    <div class="interpreterMap">
        <div class="mapArea">
            <div class="aspectRatioWrapper">
                <div class="ratio_16_9"></div>
                <div class="aspectRatioContent">
                    <div id="@(id)" class="map" style="width: 100%; height: 100%"></div>
                </div>
            </div>
            @if(url && sheetName) {
                <div class="sheetLink">
                    <a href="@url" target="_blank">Data Source</a>
                </div>
                @if(wikiContext.renderingMode == logics.wikis.RenderingMode.Normal) {
                    <div class="refreshLink" id="sync@id" data-url="@url" data-sheet="@sheetName">
                        <i class="fas fa-sync"></i>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#sync@id').click(function () {
                                if(!confirm('Do you want re-fetch data from data source?'))
                                    return false;

                                $("body").append($('<div class="ahaWikiLoader bg"></div><div class="ahaWikiLoader circle"/>'))
                                $.ajax({
                                    url: '@routes.Wiki.syncGoogleSpreadsheet()',
                                    method: 'post',
                                    headers: {
                                        'Csrf-Token': '@play.filters.csrf.CSRF.getToken.map(_.value)'
                                    },
                                    data: {
                                        pageName: '@wikiContext.name',
                                        url: '@url',
                                        sheetName: '@sheetName',
                                    },
                                    success: function (data, textStatus, jqXHR) {
                                        $('.ahaWikiLoader').remove();
                                        if(data === 'NotChanged') {
                                            alert('Content is not changed.');
                                            return;
                                        }
                                        location.reload();
                                    },
                                    error: function (jqXHR, textStatus, errorThrown) {
                                        debugger;
                                        $('.ahaWikiLoader').remove();
                                    }
                                });
                                return false;
                            });
                        });
                    </script>
                }
            }
        </div>
        <div class="tableArea">
            <table id="mapTable@id" class="simpleTable">
                <thead>
                    <tr>
                        @for(headerName <- seqHeader) {
                            @if(query.isDefinedAt(headerName)) {
                                <th rowspan="2" class="@headerName" data-value="@(query(headerName))">@headerName</th>
                            } else {
                                <th rowspan="2" class="@headerName">@headerName</th>
                            }
                        }
                        @if(mapAddressMeters.nonEmpty) {
                            <th rowspan="2" class="Distance">Distance</th>
                        }
                        @if(seqLocationLastVisited.exists(_.listVisited.nonEmpty)) {
                            <th colspan="3" class="Visited">Visited</th>
                        }
                    </tr>
                    <tr>
                        @if(seqLocationLastVisited.exists(_.listVisited.nonEmpty)) {
                            <th class="VisitedLast">Last</th>
                            <th class="VisitedFirst">First</th>
                            <th class="VisitedCount">Count</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for((locationLastVisited, i) <- seqLocationLastVisited.filter(!_.location.latLng.lat.isNaN).zipWithIndex) {
                        <tr
                            data-i="@i"
                            data-position='{
                                "lat": @locationLastVisited.location.latLng.latWithNoise,
                                "lng": @locationLastVisited.location.latLng.lngWithNoise
                            }'
                            data-icon='{
                                "path": 0 @*google.maps.SymbolPath.CIRCLE*@,
                                "scale": @(locationLastVisited.location.scale),
                                "strokeColor": "@(locationLastVisited.location.strokeColor)",
                                "strokeWeight": 1,
                                "fillColor": "@(locationLastVisited.location.fillColor)",
                                "fillOpacity": @(locationLastVisited.location.fillOpacity),
                                "labelOrigin": {
                                    "x": 0,
                                    "y": 2
                                }                             
                            }'
                            data-title='"@locationLastVisited.location.name - @locationLastVisited.location.address"'
                            data-label='{
                                "fontWeight": "bold",
                                "color": "@(locationLastVisited.location.strokeColor)",
                                "text": "@Html(locationLastVisited.location.name)"
                            }'
                        >
                            @for((s, i) <- locationLastVisited.location.raw.zipWithIndex) {
                                @{
                                    if(false) {
                                        <td></td>
                                    } else if(s.isNullOrEmpty) {
                                        <td></td>
                                    } else if(seqHeader(i) == "Name") {
                                        if(locationLastVisited.location.exists) {
                                            <td><a href={locationLastVisited.location.name}>{locationLastVisited.location.name}</a></td>
                                        } else {
                                            <td>{locationLastVisited.location.name}</td>
                                        }
                                    } else if(seqHeader(i) == "Score") {
                                        <td>
                                            <span class="circle" style={s"background-color: ${locationLastVisited.location.fillColor};"}></span>
                                            {s}
                                        </td>
                                    } else if(seqHeader(i) == "Address") {
                                            <td><a href={locationLastVisited.location.urlMap} target="_blank">{locationLastVisited.location.address}</a></td>
                                    } else if(s.startsWith("http")){
                                        <td><a href={s} target="_blank">Link</a></td>
                                    } else {
                                        <td>{s}</td>
                                    }
                                }
                            }
                            @if(mapAddressMeters.nonEmpty) {
                                <td class="distance">@(mapAddressMeters.get(locationLastVisited.location.address).map(m => java.text.NumberFormat.getIntegerInstance.format(m)).getOrElse(""))</td>
                            }
                            @if(seqLocationLastVisited.exists(_.listVisited.nonEmpty)) {
                                <td>@(locationLastVisited.listVisited.headOption.getOrElse(""))</td>
                                <td>@(locationLastVisited.listVisited.lastOption.getOrElse(""))</td>
                                <td class="count">@(locationLastVisited.listVisited.length)</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            setTimeout(function () {
            }, 1000);
        });
    </script>
    <script type="text/javascript">
        function distance(position1, position2) {
            @* https://www.movable-type.co.uk/scripts/latlong.html *@
            var R = 6371000;
            var lat1 = position1.lat;
            var lng1 = position1.lng;
            var lat2 = position2.lat;
            var lng2 = position2.lng;
            var radLat1 = lat1 * Math.PI / 180; // φ, λ in radians
            var radLat2 = lat2 * Math.PI / 180;
            var deltaLat = (lat2 - lat1) * Math.PI / 180;
            var deltaLon = (lng2 - lng1) * Math.PI / 180;
            var a = Math.sin(deltaLat / 2) * Math.sin(deltaLat / 2) + Math.cos(radLat1) * Math.cos(radLat2) * Math.sin(deltaLon / 2) * Math.sin(deltaLon / 2);
            var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
            var meters = R * c;
            return meters;
        }

        arrayOnGoogleMapLoaded.push(function () {
            var map = new google.maps.Map(document.getElementById('@id'), {
                options: {
                    gestureHandling: 'greedy'
                }
            });


            var mapTableId = 'mapTable@(id)';
            var $mapTable = $('#' + mapTableId);
            $mapTable
                    .tablesorter({
                        widthFixed : true,
                        widgets: ["filter"],
                        widgetOptions : {
                            filter_onlyAvail : 'Category',
                            filter_functions : {
                                ".Tag" : true,
                                ".Category" : true,
                                ".Score" : {
                                    @for(i <- 9 to 1 by -1) {
                                    ">=@i" : function(e, n, f, i, $r, c, data) { return n >= @i; },
                                    }
                                },
                                ".Distance" : {
                                    @for(i <- Seq(100, 200, 300, 400, 500, 1000, 2000, 3000, 5000, 10000)) {
                                    "<=@i" : function(e, n, f, i, $r, c, data) { return n <= @i; },
                                    }
                                },
                                ".VisitedLast": false,
                                ".VisitedFirst": false,
                                ".VisitedCount": false,
                            }
                        },
                    })
                    .bind("filterInit", function (e, t) {
                        redrawMap();
                    })
                    .bind("filterStart", function (e, t) {
                    })
                    .bind("filterEnd", function (e, t) {
                        redrawMap();
                    });

            $mapTable.find('tr[data-position]').click(function () {
                var position = JSON.parse($(this).attr('data-position'));
                // map.setCenter(position);
                // map.setZoom(17);
            });

            var markers = [];
            function redrawMap() {
                $.each(markers, function (i, v) {
                    v.setMap(null)
                });
                markers = [];

                $('#' + mapTableId).find('tr[data-i]:not(.filtered)').each(function (i, v) {
                    var $v = $(v);
                    var i = JSON.parse($v.attr('data-i'));
                    var position = JSON.parse($v.attr('data-position'));
                    var icon = JSON.parse($v.attr('data-icon'));
                    var title = JSON.parse($v.attr('data-title'));
                    var label = JSON.parse($v.attr('data-label'));

                    var marker = new google.maps.Marker({
                        map: map,
                        position: position,
                        icon: icon,
                        title: title,
                        label: label
                    });
                    marker.addListener('click', function() {
                        var infowindow = new google.maps.InfoWindow({
                            content: $('#@(id)_' + i).html()
                        });

                        infowindow.open(marker.get('map'), marker);
                    });
                    markers.push(marker);
                });
                fitBounds()
            }

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    new google.maps.Marker({
                        map: map,
                        position: pos,
                        title: "You are here!"
                    });

                    $mapTable.find('tr[data-position]').map(function(i, v) {
                        var $v = $(v);
                        var position = JSON.parse($v.attr('data-position'));
                        $v.find('td.distance').text(Math.round(distance(pos, position)).toLocaleString());
                    });
                    $mapTable.trigger("updateAll", [ true, function () { } ]);
                    setTimeout(function () {
                        if(!location.search) {
                            map.setCenter(pos);
                            map.setZoom(17);
                        } else {
                            fitBounds();
                        }
                    }, 2000);
                }, function () {
                    fitBounds();
                });
            } else {
                fitBounds();
            }

            function fitBounds() {
                if(!markers.length)
                    return;
                
                var bounds = new google.maps.LatLngBounds();
                for (var i = 0; i < markers.length; i++) {
                    bounds.extend(markers[i].position);
                }

                map.fitBounds(bounds);
            }
        });
    </script>
    @for((locationLastVisited, i) <- seqLocationLastVisited.filter(!_.location.latLng.lat.isNaN).zipWithIndex) {
        <script type="text/html" id="@(id)_@i">
            <div class="googleMapsInfoWindow">
                <div class="title">@(locationLastVisited.location.name)</div>
                <div class="score">@(locationLastVisited.location.score)</div>
                <div class="raw">
                    @for(v <- locationLastVisited.location.raw.filter(_.isNotNullOrEmpty)) {
                        <div class="rawItem">
                            @if(v.startsWith("http")) {
                                <a href="@v" target="_blank">@v</a>
                            } else {
                                @v
                            }
                        </div>
                    }
                </div>
            </div>
        </script>
    }
}
