@import logics.wikis.interpreters.InterpreterMap
@import com.aha00a.commons.Implicits._
@(
        mapsJavaScriptAPIKey:String,
        url:String,
        sheetName:String,
        seqHeader: Seq[String],
        seqLocationLastVisited:Seq[InterpreterMap.LocationListVisited],
        mapAddressMeters: Map[String, Int]
)(implicit wikiContext: WikiContext, request: play.api.mvc.Request[Any])
@for(id <- Seq(com.aha00a.commons.utils.UuidUtil.newStringWithoutDash)) {
    <div class="interpreterMap">
        <div class="mapArea">
            <div class="aspectRatioWrapper">
                <div class="ratio_16_9"></div>
                <div class="aspectRatioContent">
                    <div id="@(id)" class="map" style="width: 100%; height: 100%"></div>
                </div>
            </div>
            @if(url && sheetName) {
                <div class="sheetLink">
                    <a href="@url" target="_blank">Data Source</a>
                </div>
                @if(wikiContext.renderingMode == logics.wikis.RenderingMode.Normal) {
                    <div class="refreshLink" id="sync@id" data-url="@url" data-sheet="@sheetName">
                        <i class="fas fa-sync"></i>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#sync@id').click(function () {
                                if(!confirm('Do you want re-fetch data from data source?'))
                                    return false;

                                $("body").append($('<div class="ahaWikiLoader bg"></div><div class="ahaWikiLoader circle"/>'))
                                $.ajax({
                                    url: '@routes.Wiki.syncGoogleSpreadsheet()',
                                    method: 'post',
                                    headers: {
                                        'Csrf-Token': '@play.filters.csrf.CSRF.getToken.map(_.value)'
                                    },
                                    data: {
                                        pageName: '@wikiContext.name',
                                        url: '@url',
                                        sheetName: '@sheetName',
                                    },
                                    success: function (data, textStatus, jqXHR) {
                                        $('.ahaWikiLoader').remove();
                                        if(data === 'NotChanged') {
                                            alert('Content is not changed.');
                                            return;
                                        }
                                        location.reload();
                                    },
                                    error: function (jqXHR, textStatus, errorThrown) {
                                        debugger;
                                        $('.ahaWikiLoader').remove();
                                    }
                                });
                                return false;
                            });
                        });
                    </script>
                }
            }
        </div>
        <div class="tableArea">
            <table id="mapTable@id" class="simpleTable">
                <thead>
                    <tr>
                        @for(headerName <- seqHeader) {
                            <th rowspan="2" class="@headerName">@headerName</th>
                        }
                        @if(mapAddressMeters.nonEmpty) {
                            <th rowspan="2" class="Distance">Distance</th>
                        }
                        @if(seqLocationLastVisited.exists(_.listVisited.nonEmpty)) {
                            <th colspan="3" class="Visited">Visited</th>
                        }
                    </tr>
                    @if(seqLocationLastVisited.exists(_.listVisited.nonEmpty)) {
                        <tr>
                            <th class="VisitedLast">Last</th>
                            <th class="VisitedFirst">First</th>
                            <th class="VisitedCount">Count</th>
                        </tr>
                    }
                </thead>
                <tbody>
                    @for((locationLastVisited, i) <- seqLocationLastVisited.filter(!_.location.latLng.lat.isNaN).zipWithIndex) {
                        <tr>
                            @for((s, i) <- locationLastVisited.location.raw.zipWithIndex) {
                                <td>@{
                                    if(false) {
                                        ""
                                    } else if(s.isNullOrEmpty) {
                                        ""
                                    } else if(seqHeader(i) == "Name") {
                                        if(locationLastVisited.location.exists) {
                                            <a href={locationLastVisited.location.name}>{locationLastVisited.location.name}</a>
                                        } else {
                                            locationLastVisited.location.name
                                        }
                                    } else if(seqHeader(i) == "Address") {
                                            <a href={locationLastVisited.location.urlMap} target="_blank">{locationLastVisited.location.address}</a>
                                    } else if(s.startsWith("http")){
                                            <a href={s} target="_blank">Link</a>
                                    } else {
                                        s
                                    }
                                }</td>
                            }
                            @if(mapAddressMeters.nonEmpty) {
                                <td class="distance">@(mapAddressMeters.get(locationLastVisited.location.address).map(m => java.text.NumberFormat.getIntegerInstance.format(m)).getOrElse(""))</td>
                            }
                            @if(seqLocationLastVisited.exists(_.listVisited.nonEmpty)) {
                                <td>@(locationLastVisited.listVisited.headOption.getOrElse(""))</td>
                                <td>@(locationLastVisited.listVisited.lastOption.getOrElse(""))</td>
                                <td class="count">@(locationLastVisited.listVisited.length)</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            var mapTableId = 'mapTable@(id)';
            setTimeout(function () {
                $('#' + mapTableId)
                        .tablesorter({
                            widthFixed : true,
                            widgets: ["filter"],
                            widgetOptions : {
                                filter_onlyAvail : 'Category',
                                filter_functions : {
                                    ".Tag" : true,
                                    ".Category" : true,
                                    ".Score" : {
                                        ">= 9" : function(e, n, f, i, $r, c, data) { return n >= 9; },
                                        ">= 8" : function(e, n, f, i, $r, c, data) { return n >= 8; },
                                        ">= 7" : function(e, n, f, i, $r, c, data) { return n >= 7; },
                                        ">= 6" : function(e, n, f, i, $r, c, data) { return n >= 6; },
                                        ">= 5" : function(e, n, f, i, $r, c, data) { return n >= 5; },
                                        ">= 4" : function(e, n, f, i, $r, c, data) { return n >= 4; },
                                        ">= 3" : function(e, n, f, i, $r, c, data) { return n >= 3; },
                                        ">= 2" : function(e, n, f, i, $r, c, data) { return n >= 2; },
                                        ">= 1" : function(e, n, f, i, $r, c, data) { return n >= 1; },
                                    },
                                    ".VisitedLast": false,
                                    ".VisitedFirst": false,
                                    ".VisitedCount": false,
                                }
                            },
                        })
                        .bind("filterInit", function (e, t) {
                            console.log('filterInit', e, t);
                        })
                        .bind("filterStart", function (e, t) {
                            console.log('filterStart', e, t);
                        })
                        .bind("filterEnd", function (e, t) {
                            console.log('filterEnd', e, t);
                        })
            ;
            }, 1000);
        });
    </script>
    <script type="text/javascript">
        arrayOnGoogleMapLoaded.push(function () {
            var map = new google.maps.Map(document.getElementById('@id'), {
                options: {
                    gestureHandling: 'greedy'
                }
            });

            var markers = [];
            @for((locationLastVisited, i) <- seqLocationLastVisited.filter(!_.location.latLng.lat.isNaN).zipWithIndex) {
                (function() {
                    var marker = new google.maps.Marker({
                        position: {
                            lat: @locationLastVisited.location.latLng.latWithNoise,
                            lng: @locationLastVisited.location.latLng.lngWithNoise
                        },
                        map: map,
                        icon: {
                            path: google.maps.SymbolPath.CIRCLE,
                            scale: @(locationLastVisited.location.scale),
                            strokeColor: '@(locationLastVisited.location.strokeColor)',
                            strokeWeight: 1,
                            fillColor: '@(locationLastVisited.location.fillColor)',
                            fillOpacity: @(locationLastVisited.location.fillOpacity),
                            labelOrigin: {
                                x: 0,
                                y: 2
                            }
                        },
                        title: '@locationLastVisited.location.name - @locationLastVisited.location.address',
                        label: {
                            fontWeight: 'bold',
                            color: '@(locationLastVisited.location.strokeColor)',
                            text: '@Html(locationLastVisited.location.name)',
                        }
                    });
                    marker.addListener('click', function() {
                        var infowindow = new google.maps.InfoWindow({
                            content: $('#@(id)_@i').html()
                        });

                        infowindow.open(marker.get('map'), marker);
                    });
                    markers.push(marker);
                })();
            }

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    map.setCenter({
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    });
                    map.setZoom(17);
                }, function () {
                    handleLocationError();
                });
            } else {
                handleLocationError();
            }

            function handleLocationError() {
                var bounds = new google.maps.LatLngBounds();
                for (var i = 0; i < markers.length; i++) {
                    bounds.extend(markers[i].position);
                }

                map.fitBounds(bounds);
            }
        });
    </script>
    @for((locationLastVisited, i) <- seqLocationLastVisited.filter(!_.location.latLng.lat.isNaN).zipWithIndex) {
        <script type="text/html" id="@(id)_@i">
            <div class="googleMapsInfoWindow">
                <div class="title">@(locationLastVisited.location.name)</div>
                <div class="score">@(locationLastVisited.location.score)</div>
                <div class="raw">
                    @for(v <- locationLastVisited.location.raw.filter(_.isNotNullOrEmpty)) {
                        <div class="rawItem">
                            @if(v.startsWith("http")) {
                                <a href="@v" target="_blank">@v</a>
                            } else {
                                @v
                            }
                        </div>
                    }
                </div>
            </div>
        </script>
    }
}
