@(title:String, description: String, interpreter:String, contentInterpreted:String, isWritable:Boolean, wikiFirst:Option[models.tables.Page], wikiLast:Option[models.tables.Page], hasReadPermissionRestriction:Boolean = false)(implicit wikiContext:ContextWikiPage)
@encodedTitle = @{ java.net.URLEncoder.encode(title, "UTF-8").replace("+", "%20") }
@canonicalUrl = @{ s"https://${wikiContext.requestWrapper.host}/w/$encodedTitle" }
@publishedDateTime = @{ wikiFirst.map(_.dateTime.toString) }
@modifiedDateTime = @{ wikiLast.map(_.dateTime.toString) }
@jsonLdWebPage = @{
    val websiteId = s"https://${wikiContext.requestWrapper.host}/#website"
    val webpageId = s"$canonicalUrl#webpage"
    val articleId = s"$canonicalUrl#article"
    val breadcrumbId = s"$canonicalUrl#breadcrumb"
    val organizationId = s"https://${wikiContext.requestWrapper.host}/#organization"

    val faviconPath = logics.AhaWikiConfig().site.favicon().stripPrefix("/")

    val webPageBase = play.api.libs.json.Json.obj(
        "@type" -> "WebPage",
        "@id" -> webpageId,
        "url" -> canonicalUrl,
        "name" -> title,
        "description" -> description,
        "inLanguage" -> "ko",
        "isPartOf" -> play.api.libs.json.Json.obj(
            "@id" -> websiteId
        ),
        "breadcrumb" -> play.api.libs.json.Json.obj(
            "@id" -> breadcrumbId
        ),
        "about" -> play.api.libs.json.Json.arr(
            play.api.libs.json.Json.obj(
                "@type" -> "Thing",
                "name" -> title
            )
        ),
        "mainEntity" -> play.api.libs.json.Json.obj(
            "@id" -> articleId
        )
    )
    val webPageWithDates = webPageBase ++
      publishedDateTime.map(v => play.api.libs.json.Json.obj("datePublished" -> v)).getOrElse(play.api.libs.json.Json.obj()) ++
      modifiedDateTime.map(v => play.api.libs.json.Json.obj("dateModified" -> v)).getOrElse(play.api.libs.json.Json.obj())

    val articleBase = play.api.libs.json.Json.obj(
        "@type" -> "Article",
        "@id" -> articleId,
        "headline" -> title,
        "description" -> description,
        "mainEntityOfPage" -> play.api.libs.json.Json.obj(
            "@id" -> webpageId
        ),
        "isPartOf" -> play.api.libs.json.Json.obj(
            "@id" -> websiteId
        ),
        "author" -> play.api.libs.json.Json.obj(
            "@id" -> organizationId
        ),
        "publisher" -> play.api.libs.json.Json.obj(
            "@id" -> organizationId
        ),
        "inLanguage" -> "ko"
    )
    val articleWithDates = articleBase ++
      publishedDateTime.map(v => play.api.libs.json.Json.obj("datePublished" -> v)).getOrElse(play.api.libs.json.Json.obj()) ++
      modifiedDateTime.map(v => play.api.libs.json.Json.obj("dateModified" -> v)).getOrElse(play.api.libs.json.Json.obj())

    play.api.libs.json.Json.obj(
        "@context" -> "https://schema.org",
        "@graph" -> Seq(
            play.api.libs.json.Json.obj(
                "@type" -> "Organization",
                "@id" -> organizationId,
                "name" -> wikiContext.requestWrapper.host,
                "url" -> s"https://${wikiContext.requestWrapper.host}/",
                "logo" -> play.api.libs.json.Json.obj(
                    "@type" -> "ImageObject",
                    "url" -> s"https://${wikiContext.requestWrapper.host}/$faviconPath"
                )
            ),
            play.api.libs.json.Json.obj(
                "@type" -> "WebSite",
                "@id" -> websiteId,
                "url" -> s"https://${wikiContext.requestWrapper.host}/",
                "name" -> wikiContext.requestWrapper.host,
                "inLanguage" -> "ko",
                "publisher" -> play.api.libs.json.Json.obj(
                    "@id" -> organizationId
                ),
                "potentialAction" -> play.api.libs.json.Json.obj(
                    "@type" -> "SearchAction",
                    "target" -> s"https://${wikiContext.requestWrapper.host}/search?q={search_term_string}",
                    "query-input" -> "required name=search_term_string"
                )
            ),
            play.api.libs.json.Json.obj(
                "@type" -> "BreadcrumbList",
                "@id" -> breadcrumbId,
                "itemListElement" -> Seq(
                    play.api.libs.json.Json.obj(
                        "@type" -> "ListItem",
                        "position" -> 1,
                        "name" -> "Home",
                        "item" -> s"https://${wikiContext.requestWrapper.host}/"
                    ),
                    play.api.libs.json.Json.obj(
                        "@type" -> "ListItem",
                        "position" -> 2,
                        "name" -> title,
                        "item" -> canonicalUrl
                    )
                )
            ),
            articleWithDates,
            webPageWithDates
        )
    ).toString()
}
@_base(title, description, canonicalUrl, "article") {
    <script type="application/ld+json">@Html(jsonLdWebPage)</script>
    @views.html.Wiki.hotkey()
    <script type="text/javascript">
        $(function(){
            (function () {
                var wsProtocol = window.location.protocol === 'https:' ? 'wss' : 'ws';
                var wikiPath = window.location.pathname;
                var wsPath = wikiPath.replace(/^\/w\//, '/ws/w/');
                if (wsPath === wikiPath) {
                    wsPath = '/ws/w/' + encodeURIComponent('@title').replace(/\+/g, '%20');
                }
                var wsUrl = wsProtocol + '://' + window.location.host + wsPath;
                var reconnectDelayMs = 1500;
                var socket;
                var lastSentAt = 0;
                var pointerMap = {};

                function colorFromSenderId(senderId) {
                    var hash = 0;
                    for (var i = 0; i < senderId.length; i++) {
                        hash = ((hash << 5) - hash) + senderId.charCodeAt(i);
                        hash |= 0;
                    }
                    var hue = Math.abs(hash) % 360;
                    return 'hsla(' + hue + ', 85%, 55%, 0.28)';
                }

                function upsertCursor(senderId, x, y) {
                    var key = 'cursor-' + senderId;
                    var $cursor = pointerMap[key];
                    if (!$cursor) {
                        $cursor = $('<div class="remoteCursor">⬤</div>').css({
                            position: 'absolute',
                            width: '12px',
                            height: '12px',
                            marginLeft: '-6px',
                            marginTop: '-6px',
                            color: colorFromSenderId(senderId),
                            fontSize: '12px',
                            lineHeight: '12px',
                            zIndex: 9998,
                            pointerEvents: 'none'
                        }).appendTo('body');
                        pointerMap[key] = $cursor;
                    }
                    $cursor.css({ left: x + 'px', top: y + 'px' });
                }

                function connect() {
                    socket = new WebSocket(wsUrl);
                    socket.onmessage = function (event) {
                        try {
                            var data = JSON.parse(event.data);
                            if (data.type === 'cursor') {
                                upsertCursor(data.senderId, data.x, data.y);
                            }
                        } catch (e) {
                            console.log('websocket parse error', e);
                        }
                    };
                    socket.onerror = function (event) {
                        console.warn('websocket error', wsUrl, event);
                    };
                    socket.onclose = function (event) {
                        console.warn('websocket closed', wsUrl, 'code=' + event.code, 'reason=' + event.reason);
                        setTimeout(connect, reconnectDelayMs);
                    };
                }

                $(document).on('mousemove', function (e) {
                    if (!socket || socket.readyState !== WebSocket.OPEN) return;
                    var now = Date.now();
                    if (now - lastSentAt < 50) return;
                    lastSentAt = now;
                    socket.send(JSON.stringify({ type: 'cursor', x: e.pageX, y: e.pageY }));
                });

                connect();
            })();

            $('a[target=_blank]').hover(function () {
                var href = $(this).attr('href');
                var div = $('<div class="crawlerPreview"><div class="circle"/></div>')
                    .attr('data-href', href)
                    .css({
                        position: 'absolute',
                        top: $(this).offset().top + $(this).height() + 5,
                        left: $(this).offset().left
                    })
                    .appendTo($("body"));

                $(document).data(href, div);
                $.ajax({
                    url: "https://crawler.aha00a.com/get",
                    data: { q: href },
                    dataType: "jsonp",
                    success: function(data) {
                        $(document).data(href).html('').append(
                            $('<div></div>')
                                .append($('<img class="preview"/>').attr('src', data.image))
                                .append($('<h5/>').text(data.title))
                                .append($('<p/>').text(data.description))
                        );
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR, textStatus, errorThrown);
                        $(document).data(href).remove();
                    }
                });
            }, function () {
                var href = $(this).attr('href');
                $(document).data(href).remove();
            });

            $('.tablesorter').tablesorter();


            function updateTocToggleLabel($toc, isCollapsed) {
                var $button = $toc.find('.tocToggle').first();
                $button.html(isCollapsed ? '<i class="fas fa-chevron-right fa-fw"></i>' : '<i class="fas fa-chevron-down fa-fw"></i>');
                $button.attr('aria-expanded', (!isCollapsed).toString());
            }

            $('.wikiContent .toc').each(function () {
                var $toc = $(this);
                var $toggleButton = $toc.find('.tocToggle').first();
                var isMobile = window.matchMedia('(max-width: 768px)').matches;
                $toc.toggleClass('collapsed', isMobile);
                updateTocToggleLabel($toc, isMobile);

                var toggleToc = function () {
                    $toc.toggleClass('collapsed');
                    updateTocToggleLabel($toc, $toc.hasClass('collapsed'));
                };

                $toggleButton.on('click', function () {
                    toggleToc();
                });

                $toc.on('click', function (event) {
                    if ($(event.target).closest('.tocToggle, .tocBody a, button, input, textarea, select, label').length) {
                        return;
                    }
                    toggleToc();
                });
            });

            var match = /\/search\?q=(.+)/.exec(document.referrer);
            if(match && match[1]) {
                $('.wikiContent').mark(decodeURIComponent(match[1]));
            }

            function TocGeneratedContentToggle() {
                $('[href="#See-Also-Generated"],[href="#Backlinks-Generated"],[href="#Similar-Pages-Generated"],[href="#Attachments-Generated"],[href="#Adjacent-Pages-Generated"]').each(function (i, v) {
                    return $(v).parent('li').toggle();
                });
            }
            $(window).on('beforeprint', function () {TocGeneratedContentToggle();});
            $(window).on('afterprint', function () {TocGeneratedContentToggle();});
        });
    </script>
} {
    @if(hasReadPermissionRestriction) {
        <div class="flash" onclick="$(this).slideUp(function () {$(this).remove()})">
            <div class="info">
                This page has permission restrictions applied.
            </div>
        </div>
    }
    <div class="@(interpreter)">
        <div class="limitWidth">
            @views.html.Wiki.action(isWritable, wikiFirst.orNull, wikiLast.orNull, hasReadPermissionRestriction)
        </div>
        <div class="wikiContent @title">
            <div class="limitWidth">
                @Html(contentInterpreted)
            </div>
            <div style="clear: both;"></div>

        </div>
    </div>
}
