@(title:String, contentInterpreted:String, isWritable:Boolean, wikiFirst:Option[models.Database.Page], wikiLast:Option[models.Database.Page])(implicit wikiContext:WikiContext, request: play.api.mvc.Request[Any])
@_base(title) {
    @hotkey()
    <script type="text/javascript">
        $(function(){
            $('a[target=_blank]').hover(function () {
                var href = $(this).attr('href');
                var div = $('<div class="crawlerPreview" />')
                    .attr('data-href', href)
                    .css({
                        position: 'absolute',
                        top: $(this).offset().top + $(this).height(),
                        left: $(this).offset().left
                    })
                    .appendTo($("body"));

                $(document).data(href, div);
                $.ajax({
                    url: "http://crawler.aha00a.com/get",
                    data: { q: href },
                    dataType: "jsonp",
                    success: function(data) {
                        $(document).data(href).append(
                            $('<div></div>')
                                .append($('<img>').attr('src', data.image))
                                .append($('<h5>').text(data.title))
                                .append($('<p>').text(data.description))
                        );
                        console.log(data);
                    }
                });
            }, function () {
                var href = $(this).attr('href');
                $(document).data(href).remove();
            });
        });
    </script>
} {
    @Html(contentInterpreted)
    @action(isWritable, wikiFirst.orNull, wikiLast.orNull)
}
