@import "_mixins";

.AhaWiki {
	.diff {
		.unifiedDiff {
			display: none;
		}

		.d2h-diff-table {
			.monospace();
			line-height: 20px;
		}

		.d2h-diff-table tr,
		.d2h-diff-table td,
		.d2h-code-line,
		.d2h-code-side-line,
		.d2h-code-line-ctn,
		.d2h-code-linenumber,
		.d2h-code-side-linenumber {
			line-height: 20px;
		}
	}
}
