
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,700&display=swap');
.defaultFont {
	font-family: 'Noto Sans KR', sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);
.defaultFont {
	font-family: 'Noto Sans', sans-serif;
}

//@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
//.defaultFont {
//	font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
//}

@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic);

html, body {
	padding: 0;
	margin: 0;
	.defaultFont;
}

.boxShadow(@s : 0 0 1em #eee) {
	-webkit-box-shadow: @s;
	-moz-box-shadow: @s;
	box-shadow: @s;
}

.userSelect(@v: none) {
	-webkit-touch-callout: @v; // iOS Safari
	-webkit-user-select: @v; // Safari
	//noinspection CssUnknownProperty
	-khtml-user-select: @v; // Konqueror HTML
	-moz-user-select: @v; // Old versions of Firefox
	-ms-user-select: @v; // Internet Explorer/Edge
	user-select: @v; // Non-prefixed version, currently supported by Chrome, Opera and Firefox
}

.monospace {
	font-family: 'Ubuntu Mono', 'Consolas', monospace;
}

@widthMonitor: ~"(max-width: 1279px)";
@widthTablet: ~"(max-width: 767px)";
@widthMobile: ~"(max-width: 319px)";

.AhaWiki {
	a {
		color: #015ADC;
		word-break: break-word;

		&[target=_blank] {
			&:before {
				//noinspection CssUnknownTarget
				content: url("/public/img/iconLinkExternal.16x16.png");
				position: relative;
				top: 4px;
			}
		}
		&:link{

		}
		&:visited{
			color: #006;
		}
		&:hover, &:active {
			background-color: #ddf;
		}
		&.missing {
			color: #a00;
			&:after {
				content: "?"
			}
		}
		&.schema {
			color: #003;
		}
	}

	code, kbd, pre, samp, tt {
		.monospace;
	}

	s {
		opacity: 0.5;
		&:hover {
			opacity: 0.7;
			text-decoration: none;
		}
	}
	textarea, pre {
		-moz-tab-size : 4;
		-o-tab-size : 4;
		tab-size : 4;
	}

	.limitWidth {
		width: 97%;
		margin: 0 auto;
	}

	.aspectRatioWrapper {
		position: relative;

		.ratio_4_3 {
			padding-bottom: 75%;
		}
		.ratio_16_9 {
			padding-bottom: 56.25%;
		}
		.responsiveRatio_16_9  {
			padding-bottom: 56.25%;
			@media all and (orientation: portrait) {
				padding-bottom: 156.25%;
			}
		}
		.aspectRatioContent {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}

	.flash {
		cursor: pointer;
		.success {
			@color: #7f7;
			color: darken(@color, 50%);
			background-color: lighten(@color, 20%);
			border: 1px solid darken(@color, 40%);
			padding: 10px;
		}

		.error {
			@color: #f77;
			color: darken(@color, 50%);
			background-color: lighten(@color, 20%);
			border: 1px solid darken(@color, 30%);
			padding: 10px;
		}

		.info {
			@color: #ff7;
			color: darken(@color, 60%);
			background-color: lighten(@color, 20%);
			border: 1px solid darken(@color, 40%);
			padding: 10px;
		}
	}

	.commonAhaWiki {
		padding: 0 0 25px 25px;

		h1, h2, h3, h4, h5, h6 {
			margin: 0;
			@media screen {
				text-shadow: 1px 1px 2px #99a;
			}

			word-break: keep-all;
			.headingNumber {
				text-decoration: none;
			}
		}

		h1, h2, h3 { margin-top: 20px; margin-bottom: 10px; border-bottom: 1px solid #cccccc; padding: 5px; }
		h4, h5, h6 { margin-top: 10px; margin-bottom: 5px; border-bottom: 1px solid #ddd; padding: 3px; }

		h1 { font-size: 2.25em; margin-left: -25px;}
		h2 { font-size: 2em; margin-left: -20px; }
		h3 { font-size: 1.75em; margin-left: -15px; }
		h4 { font-size: 1.5em; margin-left: -10px; }
		h5 { font-size: 1.25em; margin-left: -5px; }
		h6 { font-size: 1em; margin-left: 0; }

		hr {
			padding: 0;
			border: none;
			border-bottom: 1px dashed #ccc;
			margin-left: -25px;
			height: 0;
			clear: both;
			&.pageBreakAfterAlways {
				page-break-after: always;
				@media print {
					opacity: 0;
				}
			}
		}

		li > p {
			margin: 0;
			display: inline-block;
		}

		code {
			border: 1px solid #99c;
			background-color: #002;
			color: #fff;
			border-radius: 5px;
			padding: 3px;
			word-break: break-all;
		}

		.vim {
			position: relative;
			padding-left:1em;
			margin-top: 1px;
			margin-bottom: 1px;
			overflow: hidden;
			.borderAndBeforeBackground(@color) {
				border: 2px solid @color;
				background-color: @color;
				&:before {
					background: @color;
				}
			}
			&[data-lang]            { .borderAndBeforeBackground(#9999cc); }
			&[data-lang=scala]      { .borderAndBeforeBackground(#DC322F); }
			&[data-lang=perl]       { .borderAndBeforeBackground(#004065); }
			&[data-lang=python]     { .borderAndBeforeBackground(#75A8D3); }
			&[data-lang=javascript] { .borderAndBeforeBackground(#F0DB4F); }
			&[data-lang=css]        { .borderAndBeforeBackground(#FF6600); }
			&[data-lang=html]       { .borderAndBeforeBackground(#E44D26); }
			&::before {
				background: #f00;
				content: attr(data-lang);
				-webkit-writing-mode: vertical-lr;
				-ms-writing-mode: tb-lr;
				writing-mode: vertical-lr;
				color: #fff;
				position: absolute;
				top: 0;
				left: 0;
				bottom:0;
				padding: 5px 1px;
				overflow: hidden;
			}
		}
		pre {
			margin-top: 0;
			margin-bottom: 0;
			overflow: hidden;
			background-color: #002;
			color: #CCCCCC;
			padding-bottom: 0.5em;
			padding-left: 1em;
			padding-top: 0.5em;
			white-space: pre-wrap;
			word-break: break-all;
			a {
				color: #3399ff;
			    &:link {

			    }
				&:visited{

				}
			}

			&.text {
				margin-top: 1px;
				margin-bottom: 1px;
				border: 2px solid #9999CC;
				border-left-width: 15px;
			}
		}


		blockquote {
			position: relative;
			background-color: #f3f3ff;
			border: 2px solid #99c;
			border-left-width: 10px;
			overflow: hidden;
			padding: 10px 25px;
			margin: 0 0 1px;
			line-height: 150%;
			p {
				margin-block-start: 0;
				margin-block-end: 0;
			}

			&:before, &:after {
				position: absolute;
				font-size: 200%;
				font-family: serif;
			}
			&:before { left: 3px; top: 5px; content: '“'; }
			&:after { top: 5px; right: 3px; content: '”'; }
		}

		div.toc {
			clear: right;
		}
		div.schema {
			clear: right;
			float: right;
			margin-left: 10px;
			margin-bottom: 10px;
			border: 1px solid #ccc;
			background-color: #eee;
			padding: 10px 20px;
			vertical-align: top;
			display: inline-block;
			max-width: 40vw;

			@media only screen and (max-width: 768px) {
				clear: right;
				float: none;
				display: block;
				max-width: initial;
				margin: 10px 0;
			}


			h5:first-of-type {
				margin-top: 0;
			}
			p {
				margin-top: 0;
			}
			img {
				min-width: 230px;
				max-width: 100%;
			}
			dl {
				margin: 0;
				dt {
					margin-top: 10px;
				}
				dd {
					margin-left: 10px;
					display: inline-block;
				}
			}
			ul {
				list-style-type: none;
				margin: 0;
				padding-left: 20px;
			}
			.match {
				color: #00f;
				font-weight: bold;
			}
			.unknown, .supersededBy {
				text-decoration: line-through;
				color: #aaa;
			}
			sup {
				color: #777;
				display: block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		div.toc, div.MacroLinkDate, div.rightInfoBox {
			position: relative;
			float: right;
			margin-bottom: 10px;
			margin-left: 10px;
			max-width: 50vw;
			border: 1px solid #ccc;
			background-color: #eee;
			padding: 20px;
			.boxShadow;

			p {
				margin-top: 0;
			}
			img {
				max-width: 100%;
			}
		}
		div.MacroLinkDate.around {
            clear: right;
		}

		.previewPane {
			div.toc, div.schema {
				max-width: 25vw;
			}
			>ul {
				padding-left: 0;
			}
		}



		.wikiSyntax {
			.simpleTable;
			width: 100%;
			&>tbody {
				&>tr {
					&>td {
						width: 50%;
					}
					&:hover {
						background-color: inherit;
					}
				}
			}
			.raw {
				padding: 10px 10px;
			}

			.preview {
				padding: 10px 10px 10px 10+25px;
			}
		}

		.success {
			overflow: hidden;
			.flash.success;
		}
		.error {
			overflow: hidden;
			.flash.error;
		}
		.info {
			overflow: hidden;
			.flash.info;
		}

		.trivial {
			font-size: 0.7em;
			opacity: 0.7;
		}

		.columnWidth350 {
			column-width: 300px;
			column-gap: 50px;
			margin-top: 0;
			ul, ol {
				margin-top: 0;
			}
		}
        &.schema\:Schema,
		&.TitleIndex,
		.columnWidth350 {
			>* >* {
				ul, ol {
					.columnWidth350;
				}
				>* {
					ul, ol {
						.columnWidth350;
					}
				}
			}
        }
	}

	.wikiContent {
		.commonAhaWiki;
	}

	.gnb, .revisionInfo {
		clear: right;
		float: right;
		margin-bottom: 10px;
		margin-left: 10px;
		text-align: right;
		color: #222;
		padding-top: 20px;
		.action {
			ul {
				vertical-align: top;
				display: inline-block;
				margin: 0;
				border-left: 1px solid #ccc;
				list-style-type: none;
				padding: 0 10px;
				text-align: left;

				li {
					padding: 5px;
					display: inline-block;
					@media @widthMonitor {
						display: block;
					}
					@media @widthTablet {
						display: inline-block;
					}
				}
			}
			a {
				display: inline-block;
			}
		}
		a {
			i.fas {
				margin-right: 5px;
			}
			color: #222;
		}
		@media print {
			display: none;
		}
	}

	.gnb {
		//border: 1px solid #eee;
		//background-color: #fafafa;
	}
	.revisionInfo {
		font-style: italic;
	}

	.Paper {
		@media screen {
			background-color: #ddd;
		}
		.gnb, .revisionInfo {
			float: none;
			margin: 0;

		}
	}

	.MacroEmbed {
		clear: both;
	}

	.MacroCopyable {
		.monospace;
		background-color: #eee;
		color: #333;
		border: 1px solid #ccc;
		border-radius: 5px;
		padding: 3px;
		width: 200px;
	}
	.paperContent {
		padding: 1mm;


		.page {

			@a4Width: 210mm;
			@a4Height: 297mm;
			@a4PaddingLeft: 15mm;
			@a4PaddingTop: 15mm;
			@a4PaddingRight: 15mm;
			@a4PaddingBottom: 15mm;

			width: @a4Width - @a4PaddingLeft - @a4PaddingRight;
			height: @a4Height - @a4PaddingTop - @a4PaddingBottom;
			page-break-after: always;
			&:last-of-type {
				page-break-after: auto;
			}
			font-size: 12px;
			position: relative;
			@media screen {
				margin: 10mm auto;
				border: 1px solid #000;
				.boxShadow(10px 10px 50px 5px rgba(0,0,0,0.75));
				background-color: #fff;
			}
			padding: @a4PaddingTop @a4PaddingRight @a4PaddingBottom @a4PaddingLeft;

			.pageHeader {
				border-bottom: 1mm solid #000;

				.documentId {
					text-align:right;
				}
			}

			.pageFooter {
				position: absolute;
				bottom: @a4PaddingBottom;
				width: @a4Width - @a4PaddingLeft - @a4PaddingRight;

				border-top: 1mm solid #000;
				padding-top: 3mm;

				.pageNo {
					float: right;
				}
			}

			.pageContent {
				.commonAhaWiki;
			}
			.toc {
				display: none;
			}


		}
	}

    .MacroCalendar.simpleTable {
        display: inline-table;
        vertical-align: top;
        margin: 0 20px 20px 0;
		thead {
			tr:first-of-type {
				th {
					background-color: #eee;
					padding: 10px 10px;
				}
			}
		}
		td {
			text-align: center;
			width: 50px;
			height: 50px;
			padding: 0;
		}
    }
	.simpleTable {
		border-collapse: collapse;
		.boxShadow;

		th, td {
			padding: 5px 10px;
			p:first-of-type {
				margin-top: 0;
			}
			p:last-of-type {
				margin-bottom: 0;
			}
		}
		th {
			border: 1px solid #ccc;
			background-color: #ddd;
		}
		td {
			border: 1px solid #ccc;
		}
		tr:hover {
			background-color: #eee;
		}
	}
	.tablesorter {
		@unsortedBlack: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
		@sortAscBlack: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
		@sortDescBlack: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
		.tablesorter-header {
			background-image: @unsortedBlack;
			background-repeat: no-repeat;
			background-position: right 5px center;
			padding-right: 30px;
			cursor: pointer;
		}
		.tablesorter-headerAsc {
			background-image: @sortAscBlack;
		}
		.tablesorter-headerDesc {
			background-image: @sortDescBlack;
		}
		thead {
			td {
				padding: 1px 4px 4px 4px;
				input, select {
					width: 100%;
					height: 21px;
					vertical-align: middle;
				}
			}
		}
		.filtered {
			display: none;
		}
	}

	.wikiHistory {
		table {
			margin-top: 20px;
		}
	}

	.login {
		form {
			width: 500px;
			margin: 100px auto;
			padding: 50px;
			border: 1px solid #ccc;
			background-color: #eee;

			input {
				display: block;
				padding: 10px;
				margin: 20px;
				width: 400px;
				border: 1px solid #ccc;
			}

			input[type=submit] {
				display: block;
				padding: 10px;
				margin: 20px;
				width: 424px;
				background-color: #fff;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				font-weight: bold;
			}

			.error {
				.flash .error;
			}

			.valid {
				.flash .success;
			}
		}
	}

	.edit {
		.action {
			float: right;
			a {
				display: inline-block;
				margin: 0 0 0 5px;
				padding: 5px;
				color: #222;
			}
		}
		table.layout {
			width: 100%;
			&>tbody>tr>td {
				width: 50%;
				padding: 20px;
				vertical-align: top;
				textarea {
					width: 98%;
					height: 500px;
				}
				.previewPane {
					border: 1px solid #ccc;
                    //noinspection CssUnknownTarget
                    background: url('/public/img/imageDraftVersion.png');
					&:after {
						display: block;
						clear: right;
						content: '';
					}
				}
			}
		}
		textarea {
			display: block;
			width: 90%;
			height: 600px;
			resize: vertical;
			padding: 5px;
		}
	}

	.header, .footer, .See-Also-Generated, .Schema-Generated, .Backlinks-Generated, .Similar-Pages-Generated, .Adjacent-Pages-Generated {
		@media print {
			display: none;
		}
	}

	.percentTotal {
		position: relative;
		display: inline-block;
		width: 80px;
		height: 20px;
		background-color: #ccc;
		margin-right: 5px;
		text-align: center;

		.percentBar {
			position: absolute;
			display: block;
			width: 0;
			height: 100%;
			background-color: #000;
		}
		.percentLabel {
			color: #fff;
			top: 0;
			font-size: 85%;
			mix-blend-mode: difference;
		}
	}

	.WikiLine {
		border: 1px solid #ccc;
		padding: 1px;
		margin: 1px;
	}

	svg.graph {
		@opacityNormal: 0.8;
		@opacityNeighbor: 0.9;
		@opacityHover: 1;

		//@nodeColorNormal: #C7CEEA;
		@nodeColorNormal: #777;
		@nodeColorNeighbor: darken(@nodeColorNormal, 20%);
		@nodeColorHover: darken(@nodeColorNormal, 40%);

		border: 1px solid #ccc;
		g {
			&.node {
				& {
					circle {
						fill: @nodeColorNormal;
						opacity: @opacityNormal;
					}

					text.label {
						pointer-events: none;
						opacity: @opacityNormal;
						font-size: 12px;
						fill: @nodeColorNormal;
						text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;

					}
				}

				&.neighbor {
					circle {
						fill: @nodeColorNeighbor;
					}

					text.label {
						pointer-events: none;
						opacity: @opacityNeighbor;
						font-size: 15px;
						fill: @nodeColorNeighbor;
					}
				}

				&:hover, &.hover {
					circle {
						fill: @nodeColorHover;
					}

					text.label {
						pointer-events: none;
						opacity: @opacityHover;
						font-size: 20px;
						fill: @nodeColorHover;
					}
				}
			}

			path.link {
				& {
					opacity: 0.5;
					stroke: @nodeColorNormal;
					stroke-width: 1.5;
				}
				&.neighbor {
					stroke: @nodeColorHover;
				}
			}
		}
		marker {
			fill: @nodeColorNormal;
		}
	}

	.searchBg {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #000;
		opacity: .25;
	}
	.search {
		position: fixed;
		top: 30%;
		left: 40%;
		width: 20%;
		form {
			.boxShadow;
			input {
				width: 100%;
				padding: 10px;
				font-size: 25px;
			}
		}
	}
	.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
	.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
	.autocomplete-selected { background: #f0f0f0; }
	.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }

	.searchResult {
		.item {
			padding: 10px;
			table.tableSearchResult {
				width: 100%;
				border-collapse: collapse;
				border: 1px solid #ccc;
				td {
					border: 1px solid #ccc;
					border-bottom: 1px solid #eee;

					.monospace;
					white-space: pre-wrap;
					word-break: break-word;

					&.empty {
						border: 1px solid #ccc;
						background-color: #eee;
						height: 12px;
					}
					&.lineNumber {
						width: 50px;
						padding: 5px 10px;
						text-align: right;
						.userSelect(none);
					}
					&.lineContent {
						padding: 5px;
					}
				}
				tr:last-of-type {
					> td {
						border-bottom: 1px solid #ccc;
					}
				}
			}
		}
	}

	.diff {
		.d2h-wrapper {
			.d2h-file-header {
				height: inherit;
				.d2h-file-name-wrapper {
					font-size: inherit;
					font-family: inherit;
				}
			}
			.d2h-diff-table {
				font-size: inherit;
				font-family: 'DotumChe', 'Noto Sans KR', monospace;
			}
		}
		.unifiedDiff {
			display: none;
		}
	}


	.blame {
		table.tableLegend {
			border-collapse: collapse;
			margin: 20px 0;
		}
		table.tableBlame {
			width: 100%;
			border-collapse: collapse;
			border: 1px solid #ccc;
			thead {
				border: 1px solid #ccc;
				background-color: #f7f7f7;
			}
			th, td {
				padding: 5px;
				.monospace;
				white-space: pre-wrap;
				word-break: break-word;

				&.lineDateTime, &.lineAuthor, &.lineRevision, &.lineNumber, &.lineComment {
					padding: 5px 10px;
					white-space: nowrap;
					background-color: #f7f7f7;
				}

				&.lineDateTime, &.lineAuthor, &.lineNumber, &.lineContent, &.lineComment {
					border-bottom: 1px solid #eee;
				}

				&.lineRevision, &.lineNumber {
					text-align: right;
				}
				&.lineContent {
					background-color: #fff;
					border: 1px solid #ccc;
					border-bottom: 1px solid #eee;
				}
				&.lineComment {
					background-color: #f7f7f7;
				}
			}
			tr:last-of-type {
				> td {
					border-bottom: 1px solid #ccc;
				}
			}
		}
	}

	.circleWithRotateAnimation(@size, @thickness) {
		width: @size;
		height: @size;
		border-radius: @size * 10;
		border: @thickness solid rgba(0,0,0, 0.5);
		border-top: @thickness solid rgba(255, 255, 255, 0.5);
		color: rgba(0, 0, 0, 0);
		-webkit-animation: spin 2s linear infinite; /* Safari */
		animation: spin 2s linear infinite;
		@-webkit-keyframes spin {
			0% { -webkit-transform: rotate(0deg); }
			100% { -webkit-transform: rotate(360deg); }
		}

		@keyframes spin {
			0% { transform: rotate(0deg); }
			100% { transform: rotate(360deg); }
		}
	}

	.crawlerPreview {
		border: 1px solid #ccc;
		background-color: #fff;
		padding: 20px;
		max-width: 70%;
		.boxShadow;
		>.circle {
			@size: 100px;
			@thickness: 20px;
			.circleWithRotateAnimation(@size, @thickness);
		}

		img.preview {
			float: left;
			min-width: 128px;
			max-width: 128px;
			max-height: 128px;
			height: auto;
		}
		h5 {
			font-size: 25px;
			margin-top: 0;
			margin-bottom: 10px;
			margin-left: 150px;
		}
		p {
			margin-left: 150px;
			max-height: 400px;
			overflow: hidden;
			white-space: pre-wrap;
		}
	}

	.interpreterMap {
		clear: right;
		>.mapArea {
			position: relative;
			.googleMapsInfoWindow {
				.defaultFont;
				line-height: 1.5;
				.title {
					font-size: 2em;
					font-weight: bold;
				}
				.score {
					font-size: 1.5em;
				}
			}
			>.poi, >.sheetLink, >.refreshLink {
				position: absolute;
				background: none rgb(255, 255, 255);
				border: 0;
				margin: 0;
				cursor: pointer;
				user-select: none;
				border-radius: 2px;
				box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px -1px;
                padding: 9px 12px;
			}
			>.poi {
				top: 10px;
				left: 160px;
				.fas {
					&.fa-store {
						display: none;
					}
					&.fa-store-slash {
						display: inherit;
					}
				}
				&.on {
					.fas {
						&.fa-store {
							display: inherit;
						}
						&.fa-store-slash {
							display: none;
						}
					}
				}
			}
			>.sheetLink {
				top: 10px;
				right: 110px;
			}
			>.refreshLink {
				top: 10px;
				right: 60px;
			}
		}
		>.tableArea {
			.circle {
				display: inline-block;
				width: 10px;
				height: 10px;
				border-radius: 100%;
			}
			.distance, .count {
				text-align: right;
			}
		}
	}

	.ahaWikiLoader {
		&.bg {
			.searchBg;
		}
		&.circle {
			@size: 10vmin;
			@thickness: 5vmin;
			.circleWithRotateAnimation(@size, @thickness);
			position: fixed;
			top: 50%;
			left: 50%;
			margin-top: (-(@size )/2 - @thickness);
			margin-left: (-(@size)/2 - @thickness);
		}
	}
}

.Test {
	&.gradient {
		table {
			border-collapse: collapse;
			td {
				width: 5px;
				height: 30px;
			}
		}
	}
}
