@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic);

html, body {
	padding: 0;
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
}

.boxShadow(@s : 0 0 1em #eee) {
	-webkit-box-shadow: @s;
	-moz-box-shadow: @s;
	box-shadow: @s;

}
.AhaWiki {
	a {
		color: #00a;

		&[target=_blank] {
			&:before {
				//noinspection CssUnknownTarget
				content: url("/public/img/iconLinkExternal.16x16.png");
				position: relative;
				top: 4px;
			}
		}
		&:link{

		}
		&:visited{
			color: #006;
		}
		&:hover, &:active {
			background-color: #ddf;
		}
		&.missing {
			color: #a00;
			&:after {
				content: "?"
			}
		}
	}

	code, kbd, pre, samp, tt {
		.monospace;
	}

	.monospace {
		font-family: 'Ubuntu Mono', 'Consolas', monospace;
	}

	.limitWidth {
		width: 97%;
		margin: 0 auto;
	}

	.aspectRatioWrapper {
		position: relative;

		.ratio_4_3 {
			padding-bottom: 75%
		}
		.ratio_16_9 {
			padding-bottom: 56.25%
		}
		.aspectRatioContent {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}

	.flash {
		cursor: pointer;
		.success {
			@color: #7f7;
			color: darken(@color, 50%);
			background-color: lighten(@color, 20%);
			border: 1px solid darken(@color, 40%);
			padding: 10px;
		}

		.error {
			@color: #f77;
			color: darken(@color, 50%);
			background-color: lighten(@color, 20%);
			border: 1px solid darken(@color, 30%);
			padding: 10px;
		}
	}

	.commonAhaWiki {
		padding: 0 0 0 25px;

		h1, h2, h3, h4, h5, h6 {
			margin: 0;
			text-shadow: 1px 1px 2px #99a;
			.headingNumber {
				text-decoration: none;
			}
		}

		h1, h2, h3 { margin-top: 20px; margin-bottom: 10px; border-bottom: 1px solid #cccccc; padding: 5px; }
		h4, h5, h6 { margin-top: 10px; margin-bottom: 5px; border-bottom: 1px solid #ddd; padding: 3px; }

		h1 { font-size: 2.25em; margin-left: -25px;}
		h2 { font-size: 2em; margin-left: -20px; }
		h3 { font-size: 1.75em; margin-left: -15px; }
		h4 { font-size: 1.5em; margin-left: -10px; }
		h5 { font-size: 1.25em; margin-left: -5px; }
		h6 { font-size: 1em; margin-left: 0; }

		hr {
			padding: 0;
			border: none;
			border-bottom: 1px dashed #ccc;
			margin-left: -25px;
			height: 0;
		}

		code {
			border: 1px solid #99c;
			background-color: #002;
			color: #fff;
			border-radius: 5px;
			padding: 3px;
			word-break: break-all;
		}

		.vim {
			position: relative;
			padding-left:1em;
			margin-top: 1px;
			margin-bottom: 1px;
			&[data-lang] { @color: #99c; border: 2px solid @color; &:before { background: @color; } }
			&[data-lang=scala] { @color: #DC322F; border: 2px solid @color; &:before { background: @color; } }
			&[data-lang=perl] { @color: #004065; border: 2px solid @color; &:before { background: @color; } }
			&[data-lang=python] { @color: #75A8D3; border: 2px solid @color; &:before { background: @color; } }
			&[data-lang=javascript] { @color: #F0DB4F; border: 2px solid @color; &:before { background: @color; } }
			&[data-lang=css] { @color: #FF6600; border: 2px solid @color; &:before { background: @color; } }
			&[data-lang=html] { @color: #E44D26; border: 2px solid @color; &:before { background: @color; } }
			&::before {
				background: #f00;
				content: attr(data-lang);
				-webkit-writing-mode: vertical-lr;
				-ms-writing-mode: tb-lr;
				writing-mode: vertical-lr;
				color: #fff;
				position: absolute;
				top: 0;
				left: 0;
				bottom:0;
				padding: 5px 1px;
				overflow: hidden;
			}
		}
		pre {
			border-left-width: 10px;
			color: #CCCCCC;
			padding-bottom: 0.5em;
			padding-left: 1em;
			padding-top: 0.5em;
			white-space: pre-wrap;
			word-break: break-all;
			margin: 0;
			a {
				color: #3399ff;
			    &:link {

			    }
				&:visited{

				}
			}
		}


		blockquote {
			position: relative;
			background-color: #f3f3ff;
			border-color: #99c;
			border-style: solid;
			border-width: 2px 2px 2px 10px;
			overflow: visible;
			padding: 10px;
			margin: 0;
			margin-bottom: 1px;

			&:before, &:after {
				position: absolute;
				opacity: 0.5;
				overflow: hidden;
				font-size: 200%;
				font-family: serif;
			}
			&:before { left: 3px; top: 0; content: '“'; }
			&:after { top: 0; right: 3px; content: '”'; }
		}

		.toc {
			float: right;
			background-color: #eee;
			border: 1px solid #ccc;
			padding: 10px;
			max-width: 50%;
			margin-bottom: 5px;
		}

		.wikiSyntax {
			.simpleTable;
			width: 100%;
			&>tbody {
				&>tr {
					&>td {
						width: 50%;
					}
				}
			}
			.raw {
				padding: 10px 10px;
			}

			.preview {
				padding: 10px 10px 10px 10+25px;
			}
		}

		.error {
			.flash.error;
		}
	}

	.wikiContent {
		.commonAhaWiki;
	}

	.paperContent {

		padding: 1mm;
		@media screen {
			background-color: #777;
		}

		.page {

			@a4Width: 210mm;
			@a4Height: 297mm;
			@a4PaddingLeft: 15mm;
			@a4PaddingTop: 15mm;
			@a4PaddingRight: 15mm;
			@a4PaddingBottom: 15mm;

			width: @a4Width - @a4PaddingLeft - @a4PaddingRight;
			height: @a4Height - @a4PaddingTop - @a4PaddingBottom;
			page-break-after: always;
			&:last-of-type {
				page-break-after: auto;
			}
			font-size: 12px;
			position: relative;
			@media screen {
				margin: 10mm auto;
				border: 1px solid #000;
				.boxShadow(10px 10px 50px 5px rgba(0,0,0,0.75));
				background-color: #fff;
			}
			padding: @a4PaddingTop @a4PaddingRight @a4PaddingBottom @a4PaddingLeft;

			.pageHeader {
				border-bottom: 1mm solid #000;

				.documentId {
					text-align:right;
				}
			}

			.pageFooter {
				position: absolute;
				bottom: @a4PaddingBottom;
				width: @a4Width - @a4PaddingLeft - @a4PaddingRight;

				border-top: 1mm solid #000;
				padding-top: 3mm;

				.pageNo {
					float: right;
				}
			}

			.pageContent {
				.commonAhaWiki;
			}
			.toc {
				display: none;
			}


		}
	}

	.action {
		padding: 10px;
		background-color: #eee;
		table {
			width: 100%;
		}
		.revisionInfo {
			.monospace;
			font-style: italic;
			text-align: right;
		}

		@media print {
			display: none;
		}
	}

	.simpleTable {
		border-collapse: collapse;
		.boxShadow;

		th, td {
			padding: 5px 10px;
			p:first-of-type {
				margin-top: 0;
			}
			p:last-of-type {
				margin-bottom: 0;
			}
		}
		th {
			border: 1px solid #ccc;
			background-color: #ddd;
		}
		td {
			border: 1px solid #ccc;
		}
	}

	.wikiHistory {
		table {
			.simpleTable;
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}

	.login {
		form {
			width: 500px;
			margin: 100px auto;
			padding: 50px;
			border: 1px solid #ccc;
			background-color: #eee;

			input {
				display: block;
				padding: 10px;
				margin: 20px;
				width: 400px;
				border: 1px solid #ccc;
			}

			input[type=submit] {
				display: block;
				padding: 10px;
				margin: 20px;
				width: 424px;
				background-color: #fff;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				font-weight: bold;
			}

			.error {
				.flash .error;
			}

			.valid {
				.flash .success;
			}
		}
	}

	.edit {
		table.layout {
			width: 100%;
			&>tbody>tr>td {
				width: 50%;
				padding: 20px;
				vertical-align: top;
				textarea {
					width: 98%;
					height: 500px;
				}
				.previewPane {
					border: 1px solid #ccc;
					background: url('/public/img/imageDraftVersion.png');
				}
			}
		}
		textarea {
			white-space: pre;
			word-wrap: normal;
			overflow-x: scroll;
			display: block;
			width: 90%;
			height: 600px;
		}
	}

	.header, .footer {
		@media print {
			display: none;
		}
	}

	.percentTotal {
		display: inline-block;
		width: 50px;
		height: 0.8em;
		background-color: #ccc;
		margin-right: 5px;

		.percentBar {
			display: block;
			width: 0;
			height: 100%;
			background-color: #000;
		}
	}

	.WikiLine {
		border: 1px solid #ccc;
		padding: 1px;
		margin: 1px;
	}

	svg.graph {
		border: 1px solid #ccc;
		g.node {
			text.label {
				pointer-events: none;
				opacity : 0.5;
				font-size: 12px;
			}
		}
		path.link {
		}
	}

	table.seeAlso {
		.simpleTable;
		border-collapse: collapse;
		width: 100%;
		td {
			width: 33%;
			vertical-align: top;
			border: 1px solid #ccc;
			padding: 20px;
		}
	}

	.searchBg {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #000;
		opacity: .25;
	}
	.search {
		position: fixed;
		top: 30%;
		left: 40%;
		width: 20%;
		form {
			.boxShadow;
			input {
				width: 100%;
				padding: 10px;
				font-size: 25px;
			}
		}
	}
	.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
	.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
	.autocomplete-selected { background: #f0f0f0; }
	.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }

	.searchResult {
		.item {
			padding: 10px;
			.pageName {
			}
			.pageContent {
				.monospace;
				b {
					background-color: #ffff00;
				}
			}
		}
	}

	.diff {
		table {
			margin: 20px 0px;
			border-collapse: collapse;

			th {
				border: 1px solid #ccc;
				background-color: #ddd;
			}
			td {
				width: 50%;
				padding: 5px;
			}
		}
		.left, .right {
			.monospace;
			border: 1px solid #ccc;
			&:before {
				content: '​'; // zero-width whitespace
			}
		}

		.left {
			&.INSERT {
				background-color: #eee;
				border: 1px solid #eee;
			}
			&.CHANGE {
				background-color: #ffd;
				border: 1px solid #ee2;
			}
			&.DELETE {
				background-color: #fee;
				border: 1px solid #fbb;
			}
		}

		.right {
			&.INSERT {
				background-color: #efe;
				border: 1px solid #bfb;
			}
			&.CHANGE{
				background-color: #ffd;
				border: 1px solid #ee2;
			}
			&.DELETE {
				background-color: #eee;
				border: 1px solid #eee;
			}
		}
	}
	.crawlerPreview {
		border: 1px solid #ccc;
		background-color: #fff;
		padding: 20px;
		max-width: 70%;
		.boxShadow;
		img.preview {
			float: left;
			width: 128px;
			max-width: 128px;
			max-height: 128px;
			height: auto;
		}
		h5 {
			font-size: 25px;
			margin-top: 0px;
			margin-bottom: 10px;
			margin-left: 150px;
		}
		p {
			margin-left: 150px;
			max-height: 400px;
			overflow: hidden;
		}
	}
}
