@import play.api.cache.CacheApi
@import play.api.db.Database
@(title: String, description: String)(head: Html)(body: Html)(implicit request:Request[Any], cacheApi: CacheApi, db:Database)
<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title - @request.host</title>

        <meta itemprop="name" content="@(title)">
        <meta property="og:title" content="@(title)" />
        <meta name="twitter:title" content="@(title)">

        <meta name="description" content="@(description)" />
        <meta itemprop="description" content="@(description)">
        <meta property="og:description" content="@(description)" />
        <meta name="twitter:description" content="@(description)">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("favicon.png")">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
        <link rel="stylesheet" href="@routes.Assets.versioned("less.css")">

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>

        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                tex2jax: {
                    inlineMath: [['$___$','$___$']],
                    processClass: "mathjax",
                    ignoreClass: "no-mathjax"
                }
            });
        </script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/config/TeX-AMS_HTML.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.5/js/jquery.tablesorter.min.js"></script>
        <script type="text/javascript" src="/public/js/jquery.hotkeys.js"></script>@*TODO: apply cdn*@
        <script type="text/javascript" src="/public/js/vivagraph.min.js"></script>@*TODO: apply cdn*@
        @head
    </head>
    <body class="AhaWiki no-mathjax">
        @body
        @_googleAnalytics()
    </body>
</html>
