@(title: String, description: String, canonicalUrl: String = "", ogType: String = "website")(head: Html)(body: Html)(implicit contextSite: models.ContextSite)
@_baseSkeleton(title, description, canonicalUrl, ogType){
    @head
} {
    <nav class="topNavbar">
        <div class="wrap">
            <a class="homeLink" href="/">Home</a>
            <div class="authArea">
                @if(contextSite.requestWrapper.getUser) {
                    @contextSite.requestWrapper.getUser.map { user =>
                        <a href="/w/User:@(user.nickname)"><i class="fas fa-user-cog"></i>@(user.nickname)</a>
                    }
                    <a href="@(routes.Auth.logout)"><i class="fas fa-sign-out-alt"></i>Logout</a>
                } else {
                    <a href="@(routes.Auth.login)" rel="nofollow"><i class="fas fa-sign-in-alt"></i>Login</a>
                }
            </div>
        </div>
    </nav>
    <div class="header" style="@Seq(
        Some(s"background-color: ${Option(contextSite.headerBackgroundColor).filter(_.nonEmpty).getOrElse("#EEEEEE")};"),
        Some(s"color: ${Option(contextSite.headerForegroundColor).filter(_.nonEmpty).getOrElse("#000000")};")
    ).flatten.mkString(" ")">
        @Html(contextSite.ahaWikiCache.Header.get())
    </div>
    @if(contextSite.requestWrapper.host.startsWith("localhost:")) {
        <div class="flash" onclick="$(this).slideUp(function () {$(this).remove()})">
            <div class="error">
                localhost
            </div>
        </div>
    }
    @for(f <- Seq("success", "error")) {
        @if(contextSite.requestWrapper.flashGet(f)) {
            <div class="flash" onclick="$(this).slideUp(function () {$(this).remove()})">
                <div class="@f">
                    @Html(contextSite.requestWrapper.flashGet(f).getOrElse(""))
                </div>
            </div>
        }
    }
    @body
    <div class="footer" style="@Seq(
        Some(s"background-color: ${Option(contextSite.footerBackgroundColor).filter(_.nonEmpty).getOrElse("#EEEEEE")};"),
        Some(s"color: ${Option(contextSite.footerForegroundColor).filter(_.nonEmpty).getOrElse("#000000")};")
    ).flatten.mkString(" ")">
        <div class="wrap">
            @Html(contextSite.ahaWikiCache.Footer.get())
        </div>
    </div>
}(contextSite)
