@import play.api.cache.SyncCacheApi
@import play.api.db.Database
@import play.api.Configuration
@import logics.ApplicationConf
@(title: String, description: String)(head: Html)(body: Html)(implicit host: String, syncCacheApi: SyncCacheApi, database:Database, configuration: Configuration)
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>@title - @host</title>

        <meta itemprop="name" content="@(title)">
        <meta property="og:title" content="@(title)" />
        <meta name="twitter:title" content="@(title)">

        <meta name="description" content="@(description)" />
        <meta itemprop="description" content="@(description)">
        <meta property="og:description" content="@(description)" />
        <meta name="twitter:description" content="@(description)">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("favicon.png")">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
        <link rel="stylesheet" href="@routes.Assets.versioned("less.css")">

        <script type="text/javascript" src="https://polyfill.io/v3/polyfill.js?version=3.52.1&features=blissfuljs%2Cdefault%2Ces2015%2Ces2016%2Ces2017%2Ces2019%2Ces2018%2Ces5%2Ces6%2Ces7"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js" integrity="sha256-rsPUGdUPBXgalvIj4YKJrrUlmLXbOb6Cp7cdxn1qeUc=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js" integrity="sha256-Lj47JmDL+qxf6/elCzHQSUFZmJYmqEECssN5LP/ifRM=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js" integrity="sha256-jkaBMXLp+mraE29Q0r6gtTniSfPhS1N0R7YcQwdt7nQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.24/jquery.autocomplete.min.js" integrity="sha256-PsW8RLr/0Hdq8VSZyHHLFxO6t3ltKo3L3ULL1xByhhc=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js" integrity="sha512-qzgd5cYSZcosqpzpn7zF2ZId8f/8CHmFKZ8j7mU4OUXTNRd5g+ZHBPsgKEwoqxCtdQvExE5LprwwPAgoicguNg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.widgets.min.js" integrity="sha512-dj/9K5GRIEZu+Igm9tC16XPOTz0RdPk9FGxfZxShWf65JJNU2TjbElGjuOo3EhwAJRPhJxwEJ5b+/Ouo+VqZdQ==" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/public/js/jquery.hotkeys.js"></script>@*TODO: apply cdn*@

        <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js" integrity="sha256-4HLtjeVgH0eIB3aZ9mLYF6E8oU5chNdjU6p6rrXpl9U=" crossorigin="anonymous"></script>

        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                tex2jax: {
                    inlineMath: [['$___$','$___$']],
                    processClass: "mathjax",
                    ignoreClass: "no-mathjax"
                }
            });
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js" integrity="sha256-yYfngbEKv4RENfGDvNUqJTqGFcKf31NJEe9OTnnMH3Y=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/config/TeX-AMS_HTML.js" integrity="sha256-MZuxbOGocfrefUyrW6qNzjtj51TdsXJybGQ5F5fjS7A=" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/vivagraphjs/0.12.0/vivagraph.min.js" integrity="sha256-kKQdUhGEwWzNj3itlPXnaVunrFXAnCsNbFXLKKUcago=" crossorigin="anonymous"></script>
        @if(ApplicationConf().AhaWiki.google.credentials.api.MapsJavaScriptAPI.key()) {
            <script type="text/javascript">
                var arrayOnGoogleMapLoaded = [];
                function onGoogleMapLoaded() {
                    for (var i = 0; i < arrayOnGoogleMapLoaded.length; i++) {
                        arrayOnGoogleMapLoaded[i]();
                    }
                }
            </script>
        }
        @if(ApplicationConf().AhaWiki.google.AdSense.adClient()) {
            <script data-ad-client="@(ApplicationConf().AhaWiki.google.AdSense.adClient())" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        }

        <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.0.0/echarts.min.js" integrity="sha512-ZRdjJAYP8Kij8Lkln9uiGj0jIrMDLAALm1ZB2b3VfV9XJ0nR4zbJmHKB42/A4tgMlZS4DTPnSAmcYRoS0dginA==" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.6/dayjs.min.js" integrity="sha512-C2m821NxMpJ4Df47O4P/17VPqt0yiK10UmGl59/e5ynRRYiCSBvy0KHJjhp2XIjUJreuR+y3SIhVyiVilhCmcQ==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.6/plugin/duration.min.js" integrity="sha512-JhCHgybOeA0T2w9AJmeB56XEK83jD4I6+xvHpRJXzMg2q4cfffsycKfK2h272d3kx1vaatWCZ921byc/hEqbaw==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.6/plugin/relativeTime.min.js" integrity="sha512-ZpD5q39qjKdG3a3p8cttXCwl9C7InezFKiIVFaxmethhYdzvYTMxJuqqg3I0WmI5D7G4Qt0HiYfXjagboH8/jQ==" crossorigin="anonymous"></script>
        <script>
            dayjs.extend(dayjs_plugin_duration);
            dayjs.extend(dayjs_plugin_relativeTime);
        </script>

        <script type="text/javascript" src="/public/js/js.js"></script>
        
        @head
    </head>
    <body class="AhaWiki no-mathjax">
        @body

        @if(ApplicationConf().AhaWiki.google.credentials.api.MapsJavaScriptAPI.key()) {
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=@(ApplicationConf().AhaWiki.google.credentials.api.MapsJavaScriptAPI.key())&callback=onGoogleMapLoaded"></script>
        }

        @_googleAnalytics()
    </body>
</html>
