@(title: String)(head: Html)(body: Html)(implicit wikiContext: WikiContext)
<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title - wiki.aha00a.com</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("less.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("favicon.png")">

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.5.3/MathJax.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.5.3/config/TeX-AMS_HTML.js"></script>
        <script type="text/javascript">
            $(function(){
                MathJax.Hub.Config({
                    tex2jax: {
                        inlineMath: [['$$$$','$$$$']],
                        processClass: "mathjax",
                        ignoreClass: "no-mathjax",
                        processEscapes: true
                    },
                    MathML: {
                        extensions: ["content-mathml.js"]
                    }
                });
            });
        </script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.23.5/js/jquery.tablesorter.min.js"></script>
        <script type="text/javascript" src="/public/js/jquery.hotkeys.js"></script>
        <script type="text/javascript" src="/public/js/vivagraph.min.js"></script>
        @head
    </head>
    <body class="AhaWiki no-mathjax">
        @body
        @_googleAnalytics()
    </body>
</html>
